/* 自动价格计算器 */
.turen-calculator {
    background: #E2F0F9 url("../images/baojia_bg.jpg") no-repeat 50% 0%;
}
.calculator-top {
    margin-top: 12px;
    height: 130px;
    text-indent: -9999px;
}
.calculator-content {
    margin-top: 12px;
}
.calculator-left,
.calculator-right,
.calculator-middle {
    float: left;
}
.calculator-left {
    width: 150px;
    margin-right: 15px;
}
.calculator-left a {
    display: block;
    padding-left: 10px;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
}
.calculator-left a.on, .calculator-left li {
    margin-top: 1px;
}
.calculator-left a.on, .calculator-left a:hover {
    background: #EEEEEE url("../images/bg/sprit-good.png") no-repeat 90% 50%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.calculator-middle-right {
    float: left;
}
.calculator-right {
    width: 305px;
}
.calculator-middle {
    width: 705px;
    margin-right: 15px;
    padding: 20px;
    background: #FFFFFF;
    border: 1px solid #eeeeee;
    -webkit-box-shadow: 3px 2px 8px 4px rgba(128,128,128,0.1);
    -moz-box-shadow: 3px 2px 8px 4px rgba(128,128,128,0.1);
    box-shadow: 3px 2px 8px 4px rgba(128,128,128,0.1);
}

.float-left-side, .float-right-side {
    background: #FFFFFF;
    border: 1px solid #eeeeee;
    -webkit-box-shadow: 3px 2px 8px 4px rgba(128,128,128,0.1);
    -moz-box-shadow: 3px 2px 8px 4px rgba(128,128,128,0.1);
    box-shadow: 3px 2px 8px 4px rgba(128,128,128,0.1);
}
.calculator-right .tab-sidebox-content {
    padding-top: 0;
    padding-bottom: 15px;
}
.float-left-side {
    padding: 15px;
}
.float-right-side {
    width: 305px;
}
.float-right-side.free-jijia .row {
    margin: 10px 0 10px 0;
}
.float-right-side.free-jijia .row p {
    margin-top: 8px;
    line-height: 18px;
    background: #eeeeee;
    padding: 8px;
}
.free-jijia .primary-btn {
    display: block;
    padding: 9px 12px;
}
.calculator-middle .tit {
    font-size: 22px;
    color: #333;
    font-weight: normal;
    margin-bottom: 25px;
}
.calculator-middle .tit span {
    font-weight: normal;
    font-size: 14px;
    color: #999;
    margin-left: 12px;
}
.calculator-middle .form-items {
    margin-bottom: 15px;
    position: relative;
}
.calculator-middle .items label {
    font-size: 14px;
    color: #333;
    height: 36px;
    line-height: 36px;
    width: 80px;
    text-align: right;
}
.calculator-middle .items label span {
    display: inline-block;
    color: #ff6f20;
    margin-left: 2px;
}
.calculator-middle .items .item-box {
    margin-left: 10px;
    position: relative;
}
.calculator-middle select {
    height: 36px;
    padding-left: 8px;
    border: 1px solid #d8d8d8;
    margin-right: 12px;
    font-size: 14px;
    border-radius: 2px;
    color: #333;
}
.calculator-middle input {
    height: 36px;
    font-size: 14px;
    padding-left: 8px;
    margin-right: 12px;
    border: 1px solid #d8d8d8;
    border-radius: 2px;
}
.calculator-middle .cl-radio label {
    border: 1px solid #d8d8d8;
    padding: 4px 6px;
    margin-right: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.calculator-middle .cl-radio label.on {
    border: 1px solid #ff6f20;
    background: #FFFFFF url(../images/common/jzfw_icon2_mini.jpg) no-repeat 101% 100%;
}
.calculator-middle .cl-radio input {
    display: none;
}
.calculator-middle .items .unit {
    position: absolute;
    font-size: 16px;
    color: #333;
    right: 9px;
    top: 9px;
}
.calculator-middle .items .date-time {
    width: 160px;
    background: url(../images/common/calendarBg.png) 168px no-repeat;
    cursor: pointer;
}
.calculator-subtabs {
    margin-top: 30px;
}
.calculator-subtabs ul {
    border-bottom: 1px solid #e9e9e9;
}
.calculator-subtabs ul li {
    float: left;
    margin-left: 8px;
}
.calculator-subtabs ul li a {
    display: block;
    padding: 10px 16px;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #e9e9e9;
    position: relative;
    bottom: -1px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.calculator-subtabs ul li a:hover, .calculator-subtabs ul li a.on {
    border-bottom: 1px solid #FFFFFF;
}
.calculator-subtabs .tab-nested {
    padding: 16px 0;
}
/* 自动价格计算器end */