/* 首页 */
.banjia-home .block {
    margin-top: 15px;
    margin-bottom: 15px;
}
.slide-form .call-form, .slide-form .main-slide {
    height: 370px;
}
.slide-form .main-slide {
    width: 860px;
    background: #00a0e9;
}
.slide-form .call-form {
    margin-left: 860px;
    width: 330px;
    background: red;
}
.banjia-home .head-title h2 {
    height: 60px;
    line-height: 60px;
    font-size: 22px;
    font-weight: normal;
    color: #333;
    padding-left: 5px;
}
.banjia-home .head-title .txt {
    font-size: 12px;
    line-height: 1.5;
    color: #999;
    margin: 25px 0px 0px 10px;
}
.banjia-home .hot-item {
    height: 300px;
    background: pink;
}
.banjia-home .work-flow {
    height: 300px;
    background: greenyellow;
}
.banjia-home .news-center {
    height: 300px;
    background: darkolivegreen;
}
.banjia-home .work-case {
    height: 300px;
    background: yellow;
}
.banjia-home .user-comment {
    height: 300px;
    background: black;
}
.banjia-home .work-star {
    height: 300px;
    background: orangered;
}


.home-data-show {
    position: relative;
    height: 220px;
    overflow: hidden; /* background-color:#0cb46a */
}
.home-data-show .content-wrapper {
    position: relative;
    z-index: 10;
    height: 220px;
}
.home-data-show .home-bg {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 220px;
}
.home-img-box p {
    position: absolute;
    color: #fff;
}
.home-slogan-top {
    top: 45px;
    left: 117px;
    font-size: 23px;
    font-weight: 600;
}
.home-slogan-bottom {
    top: 81px;
    left: 120px;
    font-size: 17px;
}
.home-img-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.home-img {
    position: absolute;
    height: 204px;
    width: 212px;
    vertical-align: bottom;
    bottom: 0;
    left: 0;
}
.home-data-box {
    position: absolute;
    right: 0;
    top: 50px;
}
.home-data-box img {
    display: block;
    width: 618px;
    height: 73px;
}
.footer {
    margin-top: 0;
}
/* 首页end */

/* 计价器 */
.calculator {
    height: 800px;
    margin-top: 15px;
    background: #eee;
}
.calculator .side-btn {
    float: left;
    width: 100px;
    height: 450px;
    background: red;
}
.calculator .content {
    margin-left: 100px;
    height: 500px;
    background: green;
}
/* 计价器end */

/* 业务详情 */
.service-item {
    margin-top: 15px;
    border-bottom: 1px solid #eee;
}
.service-item ul {
    width: 910px;
    margin: 0 auto;
}
.service-item li {
    float: left;
    display: block;
    height: 100px;
    width: 130px;
    background: yellow;
}
.service .detail {
    width: 860px;
    height: 600px;
    float: left;
    background: pink;
}
.service .form {
    width: 330px;
    height: 450px;
    margin-left: 860px;
    background: orange;
}
/* 业务详情end */

/* 通用侧边栏 */
.tab-sidebox {
    margin-bottom: 20px;
    background-color: #fff;
}
.tab-sidebox-title {
    height: 49px;
    padding: 0 20px;
    border-bottom: 1px solid #e9e9e9;
    box-sizing: content-box;
    overflow: hidden;
}
.tab-sidebox-title h3 {
    float: left;
    font-size: 16px;
    color: #333;
    line-height: 48px;
    border-bottom: 1px solid #929292;
    box-sizing: content-box;
    cursor: default;
}
.tab-sidebox-title a.link {
    float: right;
    display: block;
    font-size: 12px;
    color: #999;
    line-height: 56px;
}
.tab-sidebox-title a.link:hover {
    color: #0099e9;
}
.tab-sidebox-content {
    padding: 0 20px;
}

.gen-sidebox {
    background-color: #fff;
    padding: 0 20px 1px;
    margin-bottom: 20px;
}
.gen-sidebox h3 {
    overflow: hidden;
}
.gen-sidebox .title {
    float: left;
    font-size: 16px;
    color: #333;
    line-height: 52px;
}
.gen-sidebox .link {
    float: right;
    display: block;
    font-size: 12px;
    color: #999;
    line-height: 56px;
}
.tab-sidebox-content li a, .gen-sidebox-content li a {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
/* 通用侧边栏end */

/* 搬家百科侧边栏 */
.sidebox .baike-list li {
    margin-bottom: 18px;
}
.sidebox .baike-list li a {
    display: block;
    font-size: 14px;
    color: #333;
    line-height: 18px;
}
.sidebox .baike-list li a:hover {
    color: #0099e9;
}
.sidebox .baike-list li a i {
    margin-right: 8px;
    font-size: 14px;
    color: #333;
    font-style: italic;
}
/* 搬家百科侧边栏end */

/* 搬家联系我们侧边栏 */
.sidebox .about-us {
	padding-top: 10px;
	padding-bottom: 10px;
}
.sidebox .about-us p {
    margin: 20px 0;
}
/* 搬家联系我们侧边栏end */

/* 咨讯中心 */
.baike-content, .faqs-content, .news-content {
    padding-bottom: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ebebeb;
}
.banjia-title{
    padding-bottom: 6px;
}

.banjia-title ul{
    overflow: hidden;
}

.banjia-title ul li{
    float: left;
    margin-right: 8px;
    font-size: 12px;
    color: #333;
    line-height: 58px;
}

.banjia-title ul li a,
.banjia-title ul li b,
.banjia-title ul li span{
    font-size: 12px;
    color: #666;
    line-height: 58px;
}

.banjia-title ul li:hover>a{
    color: #0099e9;
}

.banjia-box{
    overflow: hidden;
}

.banjia-box .banjia-left{
    float: left;
    width: 285px;
}
.banjia-box .banjia-left .banjia-manual{
    margin-bottom: 20px;
    background-color: #fff;
}

.banjia-manual-title{
    height: 49px;
    padding: 0 20px;
    border-bottom: 1px solid #e9e9e9;
    box-sizing: content-box;
    overflow: hidden;
}

.banjia-manual-title h3{
    float: left;
    font-size: 16px;
    color: #333;
    line-height: 48px;
    border-bottom: 1px solid #929292;
    box-sizing: content-box;
    cursor: default;
}
.banjia-manual .banjia-manual-title span {
    display: block;
    width: 19px;
    height: 20px;
    float: left;
    margin: 18px 15px 18px 0;
    vertical-align: middle;
}
.banjia-manual-tab{
    padding: 0 20px;
}

.banjia-manual-tab ol{
    position: relative;
    padding-bottom: 20px;
    z-index: 3;
}

.banjia-manual-tab ol .flow-line{
    position: absolute;
    left: 6px;
    top: 10px;
    width: 1px;
    height: 306px;
    background-color: #e6e6e6;
    z-index: -1;
}

.banjia-manual-tab .banjia-flow{
    margin-top: 22px;
    margin-bottom: -10px;
    overflow: hidden;
}

.banjia-manual-tab .banjia-flow .flow-left{
    float: left;
    height: 30px;
    padding-right: 12px;
    overflow: hidden;
}

.banjia-manual-tab .banjia-flow .flow-left span{
    float: left;
    display: block;
    width: 9px;
    height: 9px;
    margin: 10px 0 10px 2px;
    border: 1px solid #a8a8a8;
    background-color: #fff;
    box-sizing: border-box;
    -moz-border-radius: 50%;
    -o-border-radius:50%;
    -webkit-border-radius: 50%;
    -ms-border-radius:50%;
    border-radius:50%;
    behavior: url(css/PIE.htc);
}

.banjia-manual-tab .banjia-flow .flow-left i{
    display: block;
    float: left;
    margin-left: 20px;
    font-size: 24px;
    color: #333;
    line-height: 30px;
    font-style: italic;
}

.banjia-manual-tab .banjia-flow .flow-right{
    float: left;
    width: 177px;
}

.banjia-manual-tab .banjia-flow .flow-right p{
    font-size: 14px;
    color: #333;
    line-height: 30px;
}

.banjia-manual-tab .banjia-flow .flow-right p.content {
    font-size: 12px;
}

.banjia-manual-tab .flow-now .flow-left span{
    width: 12px;
    height: 12px;
    background-color: #0099e9;
    border: 1px solid #0099e9;
    box-sizing: border-box;
    margin-left: 0;
}

.ie7 .banjia-manual-tab{
    padding-top: 30px;
}

.ie7 .banjia-manual-tab ol .flow-line{
    left: 7px;
}

.aboutlabel{
    margin-top: 12px;
    padding: 0 16px;
}

.aboutlabel h3{
    font-size: 16px;
    color: #333;
    line-height: 60px;
    cursor: default;
}

.aboutlabel ul{
    overflow: hidden;
}

.aboutlabel ul li{
    float: left;
    margin-right: 11px;
    margin-bottom: 11px;
}

.aboutlabel ul li a{
    display: block;
    font-size: 12px;
    color: #666;
    line-height: 28px;
    padding: 0 12px;
    background-color: #ebebeb;
    white-space: nowrap;
}

.aboutlabel ul li a:hover{
    background-color: #d9edf7;
    color: #0099e9;
}

.banjia-right {
    float: left;
    width: 885px;
    margin-left: 20px;
    padding-bottom: 68px;
    background-color: #fff;
}

.banjia-right-tab{
    padding: 0 30px;
}

.banjia-right-tab ul{
    overflow: hidden;
}

.banjia-right-tab ul li{
    float: left;
    margin-right: 25px;
    cursor: pointer;
}

.banjia-right-tab ul li a{
    overflow: hidden;
}

.banjia-right-tab ul li a b{
    float: left;
    font-size: 12px;
    color: #999;
    line-height: 49px;
}

.banjia-right-tab ul li a span{
    float: left;
    display: block;
    width: 6px;
    height: 9px;
    margin: 21px 0 19px 6px;
}

.banjia-right-tab ul li a span img{
    display: none;
}

.banjia-right-tab ul li a span img.banjia-btm{
    display: block;
}

.banjia-right-tab ul .banjia-choose a b{
    color: #0099e9;
}

.banjia-right-tab ul .banjia-choose a span img{
    display: block;
}

.banjia-right-tab ul .banjia-choose a span img.banjia-btm{
    display: none;
}

.banjia-list{
    padding: 33px 30px 36px;
    border-top: 1px solid #f5f5f5;
    box-sizing: content-box;
    overflow: hidden;
    cursor: default;
    behavior: url(css/PIE.htc);
}

.banjia-none{
    border: none;
}

.ie7 .banjia-list:hover{
    box-shadow: none;
}

.banjia-list span{
    float: left;
    display: block;
    width: 160px;
    height: 120px;
    overflow: hidden;
}

.banjia-list span img{
    max-width: none;
    width: 160px;
    height: 120px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.banjia-list span:hover>a img{
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

.banjia-list .banjia-text{
    float: left;
    width: 645px;
    margin-left: 20px;
}

.banjia-list .banjia-text h5{
    overflow: hidden;
}

.banjia-list .banjia-text h5 .textname{
    float: left;
    display: block;
    width:auto;
    font-size: 16px;
    color: #333;
    line-height: 40px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 460px;
}

.banjia-list:hover>.banjia-text h5 .textname{
    color: #0099e9;
}

.banjia-list .banjia-text h5 ol{
    float: right;
    margin: 7px 0;
    overflow: hidden;
}

.banjia-list .banjia-text h5 ol li{
    float: left;
    margin-left: 8px;
}

.banjia-list .banjia-text h5 ol li a{
    display: block;
    font-size: 12px;
    color: #999;
    line-height: 26px;
    padding: 0 12px;
    background-color: #f5f5f5;
}

.banjia-list .banjia-text h5 ol li a:hover{
    color: #0099e9;
    background-color: #d9edf7;
}

.banjia-list .banjia-text p{
    height: 40px;
    font-size: 14px;
    color: #666;
    line-height: 20px;
    white-space:initial;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.banjia-list .banjia-text dl{
    margin-top: 15px;
    overflow: hidden;
}

.banjia-list .banjia-text dl dd{
    float: left;
    margin-right: 30px;
    overflow: hidden;
}

.banjia-list .banjia-text dl dd b{
    margin-left: 3px;
    font-size: 12px;
    color: #888;
    line-height: 20px;
}
.banjia-list .noimg{
    float: left;
    width: 815px;
    margin-left: 20px;
}
.banjia-page{
    width: 582px;
    margin: 30px auto 0;
    margin-left: 25%;
    overflow: hidden;
    background-color: #fff;
}

.banjia-page ul{
    float: left;
    overflow: hidden;
    border: 1px solid #efefef;
    box-sizing: content-box;
}

.banjia-page ul li{
    float: left
}

.banjia-page ul li a{
    display: block;
    padding: 0 18px;
    font-size: 14px;
    color: #666;
    line-height: 33px;
}

.banjia-page .next,
.banjia-page .last{
    float: left;
    display: block;
    padding: 0 12px;
    margin-left: 2px;
    font-size: 14px;
    color: #fff;
    line-height: 36px;
    background-color: #0099e9;

}
.banjia-page a.nov {
    background: #999999;
    border: 1px solid #999999;
    text-decoration: none;
    color: #fff;
}
.banjia-page ul li a:hover{
    background: #f6f6f6;
    text-decoration: none;
    color: #333;
}
.banjia-page .first, .banjia-page .pre {
    float: left;
    display: block;
    padding: 0 12px;
    margin-left: 2px;
    font-size: 14px;
    color: #fff;
    line-height: 36px;
    background-color: #0099e9;
}
.banjia-page .pre {
    margin-right: 2px;
}

















