/* 首页 */
.turen-home .block {
    margin-top: 15px;
    margin-bottom: 15px;
}
.slide-form .call-form, .slide-form .main-slide {
    height: 370px;
}
.slide-form .call-form {
    margin-left: 860px;
    width: 330px;
    background: red;
}
.turen-home .head-title h2 {
    height: 60px;
    line-height: 60px;
    font-size: 22px;
    font-weight: normal;
    color: #333;
    padding-left: 5px;
}
.turen-home .head-title .txt {
    font-size: 12px;
    line-height: 1.5;
    color: #999;
    margin: 25px 0px 0px 10px;
}
.turen-home .user-comment {
    height: 300px;
    background: black;
}
.turen-home .work-star {
    height: 300px;
    background: orangered;
}
/* 首页end */

/* 计价器 */
.calculator {
    height: 800px;
    margin-top: 15px;
    background: #eee;
}
.calculator .side-btn {
    float: left;
    width: 100px;
    height: 450px;
    background: red;
}
.calculator .content {
    margin-left: 100px;
    height: 500px;
    background: green;
}
/* 计价器end */

/* 业务详情 */
.service-item {
    margin-top: 15px;
    border-bottom: 1px solid #eee;
}
.service-item ul {
    width: 910px;
    margin: 0 auto;
}
.service-item li {
    float: left;
    display: block;
    height: 100px;
    width: 130px;
    background: yellow;
}
.service .detail {
    width: 860px;
    height: 600px;
    float: left;
    background: pink;
}
.service .form {
    width: 330px;
    height: 450px;
    margin-left: 860px;
    background: orange;
}
/* 业务详情end */

.bdshare-button-style0-16 {
    zoom: 1;
}
.bdshare-button-style0-16 .bds_more {
    background-position: 0 0;
}
.bdshare-button-style0-16 a, .bdshare-button-style0-16 .bds_more {
    float: left;
    font-size: 12px;
    padding-left: 17px;
    line-height: 16px;
    height: 16px;
    background-image: url(../images/icons_0_16.png);
    background-repeat: no-repeat;
    cursor: pointer;
    margin: 6px 6px 6px 0;
}
.bdshare-button-style0-16 .bds_more {
    color: #333;
    float: left;
}
.bds_qzone{background-position:0 -52px}.bdshare-button-style0-16 .bds_tsina{background-position:0 -104px}.bdshare-button-style0-16 .bds_renren{background-position:0 -208px}.bdshare-button-style0-16 .bds_tqq{background-position:0 -260px}.bdshare-button-style0-16 .bds_kaixin001{background-position:0 -312px}.bdshare-button-style0-16 .bds_tqf{background-position:0 -364px}.bdshare-button-style0-16 .bds_hi{background-position:0 -416px}.bdshare-button-style0-16 .bds_douban{background-position:0 -468px}.bdshare-button-style0-16 .bds_tieba{background-position:0 -728px}.bdshare-button-style0-16 .bds_hx{background-position:0 -988px}.bdshare-button-style0-16 .bds_fx{background-position:0 -1040px}.bdshare-button-style0-16 .bds_ty{background-position:0 -1196px}.bdshare-button-style0-16 .bds_fbook{background-position:0 -1352px}.bdshare-button-style0-16 .bds_twi{background-position:0 -1404px}













