/* 全局css start */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
	color: #666;
    text-decoration: none;
}

.primary-color, a:hover, a.on {
	color: #0099e9;
}

ul, li {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

body, button, input, select, textarea {
    font-size: 12px;
    font-family: -apple-system,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Arial,sans-serif;
    word-break: break-word;
    text-rendering: optimizeLegibility;
    color: #666;
    background-color: #FFFFFF;
}

img {
    border: 0;
    vertical-align: middle;
}

body {
    position: relative;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.big-font {
    font-size: 22px;
}

.small-font {
    font-size: 14px;
}

/* 总宽+居中 */
.container {
    width: 1190px;
    margin: 0 auto;
}

/*清除浮动*/
.clearfix:before,
.clearfix:after {
  content: ".";    
  display: block;    
  height: 0;    
  overflow: hidden; 
}
.clearfix:after {clear: both;}

/*清除浮动*/
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/*文字overflow 显示’…’*/
.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*兼容透明*/
.opacity50 {
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    /* IE 5-7 */
    filter: alpha(opacity = 50);
    /* Netscape */
    -moz-opacity: 0.5;
    /* Safari 1.x */
    -khtml-opacity: 0.5;
    /* Good browsers */
    opacity: 0.5;
}

/*四个圆角5px*/
.br5 {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/*圆角10px*/
.br10 {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

/* 蓝色阴影 */
.sb {
	border: solid 1px rgba(83, 173, 252, 0.05);
    -webkit-box-shadow: 0px 7px 7px 0px rgba(83, 173, 252, 0.2);
    -moz-box-shadow: 0px 7px 7px 0px rgba(83, 173, 252, 0.2);
    box-shadow: 0px 7px 7px 0px rgba(83, 173, 252, 0.2);
}

/*p标签自动换行*/
.word-wrap {
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    word-break: break-all;
    overflow: hidden;
}

/*浮动*/
.fl {
    float: left !important;
}
.fr {
    float: right !important;
}

/*隐藏显示*/
.hide {
    display: none !important;
}
.show {
    display: block !important;
}

/*对齐方式*/
.tl {
    text-align: left !important;
}
.tc {
    text-align: center !important;
}
.tr {
    text-align: right !important;
}

/* 外边距 */
.m0 {
    margin: 0;
}
.mt0 {
    margin-top: 0px !important;
}
.mr0 {
    margin-right: 0px !important;
}
.mb0 {
    margin-bottom: 0px !important;
}
.ml0 {
    margin-left: 0px !important;
}

/* 内边距 */
.p0 {
    padding: 0px;
}
.pt0 {
    padding-top: 0 !important;
}
.pr0 {
    padding-right: 0 !important;
}
.pb0 {
    padding-bottom: 0 !important;
}
.pl0 {
    padding-left: 0 !important;
}

/* 去掉input文本框边框焦点样式 */
input:focus
{
    outline: none;/*去掉默认input焦点边框*/
}

/* 按钮 */
.btn {
    padding: 0 10px;
    height: 23px;
    line-height: 23px;
    border: 1px solid #f42424;
    display: inline-block;
    color: #f42424;
    background-color: #fff;
    margin-right: 5px;
    font-size: 12px;
    cursor: pointer;
}
/* 全局css end */

/* 头部 */
.header {
    height: 121px;
    position: relative;
    overflow: hidden;
}

.head {
    position: fixed;
    width: 100%;
}

.head-top {
    height: 34px;
    color: #999;
    background: #f5f5f5;
    top: 0;
    z-index: 22;
}

.head-top .head-note {
    line-height: 34px;
}

.head-top .head-list .line {
    padding: 0;
    color: #ddd;
}

.head-top .head-list li {
    position: relative;
    float: left;
    line-height: 32px;
}

.head-top .head-list a {
    position: relative;
    z-index: 10001;
    display: block;
    padding: 0 15px;
    border: 1px solid #f5f5f5;
    border-bottom: none;
}

.head-top .head-list a b {
    position: absolute;
    width: 7px;
    height: 4px;
    background: url(../images/top_nav_icos.png) 0 -30px no-repeat;
    border: none;
    top: 15px;
    right: 12px;
    z-index: 10002;
}

.head-top .head-list .hover b {
    background-position: 0 -15px;
}

.head-top .head-list .drop-title, .head-top .head-list .drop-content {
    width: 90px;
}
.head-top .head-list .drop-title {
    padding-right: 25px;
}

.head-top .head-list .drop-content {
    display: none;
    position: absolute;
    z-index: 10001;
    background: #ffffff;
    border: 1px solid #eceaeb;
    border-top: none;
}

.head-top .head-list .drop-content a {
    height: 28px;
    line-height: 22px;
}

.head-top .head-list .hover .drop-title {
    background: #ffffff;
    border: 1px solid #eceaeb;
    border-bottom: none;
}

.head-top .head-list .hover .drop-content {
    display: block;
}

.head-top .head-list .hover .drop-content a {
    border: none;
}

.head-bottom {
    background-color: #fff;
    height: 80px;
    top: 34px;
    z-index: 21;
    -moz-box-shadow:0px 6px 10px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow:0px 6px 10px rgba(0, 0, 0, 0.1);
    box-shadow:0px 6px 10px rgba(0, 0, 0, 0.1);
}

.head-bottom .logo {
    margin-top: 0;
}

.head-bottom .logo img {
    vertical-align: top;
    height: 80px;
}

.head-bottom .nav ul li {
    position: relative;
    float: left;
    font-size: 16px;
    line-height: 80px;
    margin-right: 60px;
}

.head-bottom .nav ul li a {
    display: block;
}

.head-bottom .nav ul li .nav-title {

}

.head-bottom .nav ul li a img.nav-icon {
    vertical-align: 3px;
    margin-left: 6px;
}

.head-bottom .nav ul li a img.hot {
    position: absolute;
    top: 22px;
    right: -13px;
}

.head-bottom .nav ul li a img.nav-new {
    position: absolute;
    top: 12px;
    left: -3px;
}

.nav-qrcode {
    float: right;
    width: 80px;
    padding-top: 30px;
    margin-right: 13px;
}

.nav-qrcode a {
    position: relative;
    display: block;
    float: left;
    text-align: center;
    width: 26px;
    height: 24px;
    margin-left: 14px;
}

.nav-qrcode a .nav-box {
    position: absolute;
    display: none;
    text-align: center;
    top: 25px;
    left: 0;
    z-index: 10;
    width: 147px;
    height: 175px;
    line-height: 16px;
    background: url(../images/code_bg.png) no-repeat center center;
}

.nav-qrcode a .nav-qr {
    margin-top: 39px;
    width: 100px;
}

.nav-qrcode a:hover .nav-box {
    display: block;
}

.nav-qrcode a .nav-wap {
    left: -60px;
}

.nav-qrcode a .nav-wx {
    left: -62px;
}

.nav-qrcode .qr-txt {
    color: #666;
}

.nav-bg {
    position: fixed;
    top: 114px;
    z-index: 22;
    height: 100px;
    width: 100%;
    background-color: #fff;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-box-shadow: 0 10px 15px rgba(0,0,0,.1);
    -moz-box-shadow: 0 10px 15px rgba(0,0,0,.1);
    box-shadow: 0 10px 15px rgba(0,0,0,.1);
    border-top: 1px solid #eee;
}






/* 头部end */

/* 尾部 */
.company-history {
    text-align: center;
    margin: 15px auto;
}

.footer {
    text-align: center;
    color: #666;
    margin-top: 35px;
}
.footer .footer-content {
    background: #333;
    padding: 25px 0;
}
.footer .footer-nav, .footer .footer-c {
    margin: 25px 0 8px;
}
.footer .footer-nav a {
    margin: 0 10px;
}
.footer .footer-ulist {
    border-bottom: 1px solid #454545;
    padding-bottom: 15px;
}
.footer .inner-block {
    text-align: left;
    padding: 0 40px;
    float: left;
    position: relative;
    overflow: hidden;
}
.footer .inner-block h3 {
    color: #bebdbd;
    font-size: 14px;
    margin-bottom: 20px;
    text-shadow: 1px 1px 0 #000;
}
.footer .inner-block.first {
    padding-left: 0;
    width: 25%;
}
.footer .inner-block.second {
    width: 30%;
}
.footer .inner-block.third {
    width: 30%;
}
.footer .inner-block.last {
    padding-left: 60px;
    padding-right: 8px;
    width: 15%;
}
.footer .inner-block .more-friend-link {
    float: right;
    font-size: 12px;
}
.footer .inner-block .inner-con {
    font-size: 12px;
    line-height: 1.68;
    list-style: none;
    padding: 0;
    margin: 0;
    color: #8a8a8a;
}
.footer .inner-block .designer-recom a {
    display: block;
    float: left;
    width: 63px;
    height: 63px;
    border: 5px solid #454545;
    overflow: hidden;
    margin: 0 5px 5px 0;
    box-shadow: 0 0 1px #303030;
    opacity: 0.7;
}
.footer .inner-block .designer-recom img {
    width: 53px;
}
.footer .inner-block ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer .inner-block .wp-tag-cloud {
    overflow: hidden;
    font-size: 12px;
}
.footer .inner-block .wp-tag-cloud li {
    width: 50%;
    float: left;
    line-height: 26px;
    height: 26px;
}
.footer .wap-qrcode img {
    width: 100px;
}
.footer .wap-qrcode p {
    margin: 0;
}
/* 尾部end */

/* 右侧浮层 */
.fixe-right {
    position: fixed;
    right: 40px;
    width: 60px;
    height: 311px;
    top: 26%;
    background: rgb(255, 255, 255);
    z-index: 11;
    opacity: 1;
}

.fixe-right a {
    display: block;
    position: relative;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: rgb(136, 136, 136);
    width: 100%;
}

.fixe-right a:nth-child(1) {
    height: 64px;
    border-top: 1px solid rgb(233, 233, 233);
    border-right: 1px solid rgb(233, 233, 233);
    border-bottom: none;
    border-left: 1px solid rgb(233, 233, 233);
    border-image: initial;
    padding-top: 42px;
    cursor: pointer;
    z-index: 11;
    background: url('../images/fixe_call.png') center center no-repeat rgb(255, 255, 255);
}

.fixe-right a:nth-child(1):hover {
    background: url('../images/fixe_call_1.png') center center no-repeat rgb(255, 163, 31);
    border-color: rgb(255, 163, 31);
    color: #fff;
}

.fixe-right a:nth-child(2) {
    height: 64px;
    border-top: 1px solid rgb(233, 233, 233);
    border-right: 1px solid rgb(233, 233, 233);
    border-bottom: none;
    border-left: 1px solid rgb(233, 233, 233);
    border-image: initial;
    padding-top: 42px;
    cursor: pointer;
    z-index: 11;
    background: url('../images/fixe_about.png') center center no-repeat rgb(255, 255, 255);
}

.fixe-right a:nth-child(2):hover {
    background: url('../images/fixe_about_1.png') center center no-repeat rgb(255, 163, 31);
    border-color: rgb(255, 163, 31);
    color: #fff;
}

.fixe-right a:nth-child(3) {
    height: 64px;
    border-top: 1px solid rgb(233, 233, 233);
    border-right: 1px solid rgb(233, 233, 233);
    border-bottom: none;
    border-left: 1px solid rgb(233, 233, 233);
    border-image: initial;
    padding-top: 42px;
    cursor: pointer;
    z-index: 11;
    background: url('../images/fixe_price.png') center center no-repeat;
}

.fixe-right a:nth-child(3):hover {
    background: url('../images/fixe_price_1.png') center center no-repeat rgb(255, 163, 31);
    border-color: rgb(255, 163, 31);
    color: #fff;
}

.fixe-right a:nth-child(4) {
    height: 64px;
    border-top: 1px solid rgb(233, 233, 233);
    border-right: 1px solid rgb(233, 233, 233);
    border-bottom: none;
    border-left: 1px solid rgb(233, 233, 233);
    border-image: initial;
    padding-top: 42px;
    cursor: pointer;
    z-index: 11;
    background: url('../images/fixe_ma.png') center center no-repeat;
}

.fixe-right a:nth-child(4):hover,.fixe-right a:nth-child(4).hover {
    background: url('../images/fixe_ma_1.png') center center no-repeat rgb(255, 163, 31);
    border-color: rgb(255, 163, 31);
    color: #fff;
}

.fixe-right a:nth-child(4) > div {
    display: none;
    position: absolute;
    left: -195px;
    top: -192px;
    width: 175px;
    height: 311px;
    background: rgb(255, 255, 255);
    box-shadow: 0px 0px 52px rgba(163, 163, 163, 0.15);
    padding-top: 18px;
    text-align:center;
    font-size:14px;
    opacity: 1;
    color: #333;
}

.fixe-right a:nth-child(4).hover > div{
    display:block;
}
.fixe-right a:nth-child(4) > div > p{
    margin-bottom: 10px;
}
.fixe-right a:nth-child(4) > div > p > span {
    display:block;
    margin-top: 3px;
    line-height:18px;
}
.fixe-right a:nth-child(4) > div > p:first-child{
    letter-spacing:2px;
}
.fixe-right a:nth-child(4) > div > p > img {
    width:95px;
    height:95px;
}
.fixe-right a:nth-child(4) > div > p > em {
    display:block;
    color: #ffa31f;
    line-height: 16px;
    font-style: normal;
}

.fixe-right a:nth-child(4) > div > img {
    position: absolute;
    right: -12px;
    bottom: 80px;
}

.fixe-right a:nth-child(5) {
    height: 55px;
    border: 1px solid rgb(233, 233, 233);
    padding-top: 45px;
    cursor: pointer;
    z-index: 11;
    background: url('../images/fixe_top.jpg') center center no-repeat;
}
/* 右侧浮层end */