/* 全局css start */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

b, i {
    font-style: normal;
    font-weight: normal;
}

a {
	color: #666;
    text-decoration: none;
}

.primary-color, a:hover, a.on {
	color: #ff6f20;
}

ul, li {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

body, button, input, select, textarea {
    font-size: 12px;
    font-family: -apple-system,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Arial,sans-serif;
    word-break: break-word;
    text-rendering: optimizeLegibility;
    color: #666;
    background-color: #FFFFFF;
}

img {
    border: 0;
    vertical-align: middle;
}

body {
    position: relative;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.big-font {
    font-size: 22px;
}

.small-font {
    font-size: 14px;
}

/* 总宽+居中 */
.container {
    width: 1190px;
    margin: 0 auto;
}

/*清除浮动*/
.clearfix:before,
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
    clear: both;
}
/*清除浮动*/
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/*文字overflow 显示’…’*/
.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*兼容透明*/
.opacity50 {
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    /* IE 5-7 */
    filter: alpha(opacity = 50);
    /* Netscape */
    -moz-opacity: 0.5;
    /* Safari 1.x */
    -khtml-opacity: 0.5;
    /* Good browsers */
    opacity: 0.5;
}
.opacity100 {
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    /* IE 5-7 */
    filter: alpha(opacity = 100);
    /* Netscape */
    -moz-opacity: 1;
    /* Safari 1.x */
    -khtml-opacity: 1;
    /* Good browsers */
    opacity: 1;
}

/*四个圆角5px*/
.br4 {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

/*四个圆角5px*/
.br5 {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/*圆角10px*/
.br10 {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.card {
    background: #fff;
    overflow: hidden;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 3px rgba(26,26,26,.1);
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
}

/* 蓝色阴影 */
.sb {
	border: solid 1px rgba(83, 173, 252, 0.05);
    -webkit-box-shadow: 0px 7px 7px 0px rgba(83, 173, 252, 0.2);
    -moz-box-shadow: 0px 7px 7px 0px rgba(83, 173, 252, 0.2);
    box-shadow: 0px 7px 7px 0px rgba(83, 173, 252, 0.2);
}

/*p标签自动换行*/
.word-wrap {
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    word-break: break-all;
    overflow: hidden;
}

.triplex-row {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

/*图片动态*/
img.fadeimg {
    transition: transform 1s linear 0;
    transform: scaleX(1.08) scaleY(1.08);
    -webkit-transition: -webkit-transform 1s linear;
    -webkit-transform: scaleX(1.08) scaleY(1.08)
}

img.removeimg {
    transition: transform .5s linear 0;
    transform: scaleX(1) scaleY(1);
    -webkit-transition: -webkit-transform .5s linear;
    -webkit-transform: scaleX(1) scaleY(1)
}

/*浮动*/
.fl {
    float: left !important;
}
.fr {
    float: right !important;
}

/*隐藏显示*/
.hide {
    display: none !important;
}
.show {
    display: block !important;
}

/*对齐方式*/
.tl {
    text-align: left !important;
}
.tc {
    text-align: center !important;
}
.tr {
    text-align: right !important;
}

/* 外边距 */
.m0 {
    margin: 0;
}
.mt0 {
    margin-top: 0px !important;
}
.mr0 {
    margin-right: 0px !important;
}
.mb0 {
    margin-bottom: 0px !important;
}
.ml0 {
    margin-left: 0px !important;
}

/* 内边距 */
.p0 {
    padding: 0px;
}
.pt0 {
    padding-top: 0 !important;
}
.pr0 {
    padding-right: 0 !important;
}
.pb0 {
    padding-bottom: 0 !important;
}
.pl0 {
    padding-left: 0 !important;
}

.hide {
    display: none;
}

p.empty {
    text-align: center !important;
    margin: 20px !important;
}

/* 去掉input文本框边框焦点样式 */
input:focus
{
    outline: none;/*去掉默认input焦点边框*/
}

/* alert */
.alert {
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px
}

.alert h4 {
    margin-top: 0;
    color: inherit
}

.alert .alert-link {
    font-weight: bold
}

.alert > p, .alert > ul {
    margin-bottom: 0
}

.alert > p + p {
    margin-top: 5px
}

.alert-dismissable, .alert-dismissible {
    padding-right: 35px
}

.alert-dismissable .close, .alert-dismissible .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit
}

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d
}

.alert-success hr {
    border-top-color: #c9e2b3
}

.alert-success .alert-link {
    color: #2b542c
}

.alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f
}

.alert-info hr {
    border-top-color: #a6e1ec
}

.alert-info .alert-link {
    color: #245269
}

.alert-warning {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b
}

.alert-warning hr {
    border-top-color: #f7e1b5
}

.alert-warning .alert-link {
    color: #66512c
}

.alert-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442
}

.alert-danger hr {
    border-top-color: #e4b9c0
}

.alert-danger .alert-link {
    color: #843534
}

.topframe.alert-danger {
    border-bottom: 1px solid #ebccd1;
}
.topframe {
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    border-radius: 0;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 99999;
}

/* 按钮 */
.outline-btn {
    display: inline-block;
    padding: 6px 12px;
    border: 1px solid #ff6f20;
    color: #ff6f20;
    background-color: #fff;
    margin-right: 5px;
    font-size: 12px;
    cursor: pointer;
}
.outline-btn:hover {
    color: white;
    background-color: #ff500b;
    border-color: #ff500b;
}
.primary-btn {
    display: inline-block;
    padding: 8px 12px;
    color: white;
    font-size: 14px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    font-style: normal;
    background-color: #ff6f20;
    cursor: pointer;
    border: 1px solid transparent;
}
.primary-btn:hover {
    color: white;
    background-color: #ff500b
}
.default-btn {
    display: inline-block;
    padding: 6px 12px;
    color: white;
    font-size: 14px;
    text-align: center;
    font-style: normal;
    border: 1px solid #ff6f20;
    cursor: pointer;
    border: 1px solid transparent;
}
.default-btn:hover {
    color: white;
    border: 1px solid #ff500b;
}
/* 全局css end */

/* 头部 */
.header {
    height: 114px;
    position: relative;
    overflow: hidden;
}

.head {
    position: fixed;
    width: 100%;
}

.head-top {
    height: 34px;
    color: #999;
    background: #f5f5f5;
    top: 0;
    z-index: 22;
}

.head-top .head-note {
    line-height: 34px;
    height: 34px;
}

.head-top .scroll-note {
    height: 34px;
    line-height: 34px;
    width: 500px;
    overflow: hidden;
}

.head-top .head-list .line {
    padding: 0;
    color: #ddd;
}

.head-top .head-list li {
    position: relative;
    float: left;
    line-height: 32px;
}

.head-top .head-list a {
    position: relative;
    z-index: 10001;
    display: block;
    padding: 0 15px;
    border: 1px solid #f5f5f5;
    border-bottom: none;
}

.head-top .head-list a b {
    position: absolute;
    width: 7px;
    height: 4px;
    background: url(../images/top_nav_icos.png) 0 -30px no-repeat;
    border: none;
    top: 15px;
    right: 12px;
    z-index: 10002;
}

.head-top .head-list .hover b {
    background-position: 0 -15px;
}

.head-top .head-list .drop-title, .head-top .head-list .drop-content {
    width: 90px;
}
.head-top .head-list .drop-title {
    padding-right: 25px;
}

.head-top .head-list .drop-content {
    display: none;
    position: absolute;
    z-index: 10001;
    background: #ffffff;
    border: 1px solid #eceaeb;
    border-top: none;
}

.head-top .head-list .drop-content a {
    height: 28px;
    line-height: 22px;
}

.head-top .head-list .hover .drop-title {
    background: #ffffff;
    border: 1px solid #eceaeb;
    border-bottom: none;
}

.head-top .head-list .hover .drop-content {
    display: block;
}

.head-top .head-list .hover .drop-content a {
    border: none;
}

.head-bottom {
    background-color: #fff;
    height: 80px;
    top: 34px;
    z-index: 21;
    -moz-box-shadow:0px 3px 10px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow:0px 3px 10px rgba(0, 0, 0, 0.1);
    box-shadow:0px 3px 10px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgb(233, 233, 233) \9;
}

.head-bottom .logo {
    margin-top: 12px;
}

.head-bottom .logo img {
    vertical-align: top;
    height: 53px;
}

.head-bottom .nav li {
    position: relative;
    float: left;
    font-size: 16px;
    line-height: 78px;
    margin-right: 45px;
}

.head-bottom .nav li a {
    display: block;
}

.head-bottom .nav li .nav-title {

}

.head-bottom .nav li a.on, .head-bottom .nav li a:hover {
    border-bottom: 2px solid #ff6f20;
}

.head-bottom .nav li a.hover {
    color: #ff6f20;
}

.head-bottom .nav li a img.label {
    position: absolute;
    top: 12px;
    left: 5px;
}

.nav-qrcode {
    float: right;
    width: 52px;
    padding-top: 20px;
    margin-right: 13px;
}

.nav-qrcode a {
    position: relative;
    display: block;
    height: 32px;
    line-height: 32px;
    width: 32px;
}
.nav-qrcode a .iconfont {
    font-size: 32px;
}

.nav-qrcode a .nav-box {
    position: absolute;
    display: none;
    text-align: center;
    top: 28px;
    left: 0;
    z-index: 10;
    width: 140px;
    height: 175px;
    line-height: 16px;
    background: url(../images/code_bg.png) no-repeat center center;
}

.nav-qrcode a .nav-qr {
    margin-top: 39px;
    width: 100px;
}

.nav-qrcode a:hover .nav-box {
    display: block;
}

.nav-qrcode a .nav-wap {
    left: -53px;
}

.nav-qrcode a .nav-wx {
    left: -62px;
}

.nav-qrcode .qr-txt {
    color: #666;
}

.head-bottom .nav li a.have-sub .nav-title {
    padding-right: 15px;
    background: url(../images/common/nav.png) no-repeat 100% 50%;
}

.head-bottom .nav li a.have-sub.hover .nav-title {
    background-image: url(../images/common/nav-hover.png);
}

.nav-bg {
    display: none;
    position: fixed;
    top: 114px;
    z-index: 22;
    height: 100px;
    width: 100%;
    background-color: #fff;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-box-shadow: 0 10px 15px rgba(0,0,0,.1);
    -moz-box-shadow: 0 10px 15px rgba(0,0,0,.1);
    box-shadow: 0 10px 15px rgba(0,0,0,.1);
    border-top: 1px solid #eee;
    /* behavior: url(/css/PIE.htc); */
    border-bottom: 1px solid rgb(233, 233, 233) \9;
}

.nav-bg.hover {
    display: block;
}

.nav-bg .header-nav-hide {
	display: none;
	margin: 0 auto;
}

.nav-bg .header-nav-hide li {
	float: left;
	height: 100px;
	width: 120px;
	padding-top: 10px;
	text-align: center;
}

.nav-bg .header-nav-hide li:hover {
    border-bottom: 2px solid #ff6f20;
}

.nav-bg .header-nav-hide li a {
	display: block;
	font-weight: bold;
	border-right: 1px dashed #ededed;
}

.nav-bg .header-nav-hide li a.last {
	border: none;
}

.nav-bg .header-nav-hide li img {
	height: 60px;
}

.nav-bg .header-nav-hide li span {
	display: block;
    margin-top: 5px;
}
/* 头部end */

/* 尾部 */
.company-history {
    text-align: center;
    margin: 15px auto;
}

.footer {
    text-align: center;
    color: #666;
    margin-top: 35px;
}
.footer .footer-content {
    padding: 25px 0;
}
.footer .footer-nav, .footer .footer-c {
    margin: 25px 0 8px;
}
.footer .footer-nav a {
    margin: 0 10px;
}
.footer .footer-ulist {
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
}
.footer .inner-block {
    text-align: left;
    padding: 0 40px;
    float: left;
}
.footer .inner-block h3 {
    font-size: 14px;
    margin-bottom: 20px;
    color: #ff6f20;
}
.footer .inner-block.first {
    padding-left: 0;
    width: 25%;
}
.footer .inner-block.second {
    width: 30%;
}
.footer .inner-block.third {
    width: 30%;
}
.footer .inner-block.last {
    padding-left: 60px;
    padding-right: 8px;
    width: 15%;
}
.footer .inner-block .more-friend-link {
    float: right;
    font-size: 12px;
}

.footer .inner-block .inner-con {
    font-size: 12px;
    line-height: 1.68;
    list-style: none;
    padding: 0;
    margin: 0;
    color: #8a8a8a;
}
.footer .inner-block .designer-recom a {
    display: block;
    float: left;
    overflow: hidden;
    margin: 0 14px 8px 0;
}
.footer .inner-block .designer-recom img {
    height: 50px;
}
.footer .inner-block ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer .inner-block .wp-tag-cloud {
    overflow: hidden;
    font-size: 12px;
}
.footer .inner-block .wp-tag-cloud li {
    width: 50%;
    float: left;
    line-height: 26px;
    height: 26px;
}
.footer .wap-qrcode img {
    width: 100px;
}
.footer .wap-qrcode p {
    margin: 0;
}
/* 尾部end */

/* call me */
.call-me {
    display: none;
    position: fixed;
    z-index: 10;
    width: 100%;
    bottom: 0;
    padding: 12px 0;
    background-color: #262626;
}
.call-me .center-box {
    position: relative;
    margin: 0 auto;
}
.call-me .left-part {
    position: relative;
    color: #FFFFFF;
    font-size: 24px;
    margin-right: 100px;
}
.call-me .mid-part {
    color: #3ea0f1;
    font-size: 22px;
    font-style: italic;
    margin-right: 10px;
}
.call-me .right-part {
    display: inline-block;
    position: relative;
    top: 4px;
    margin-right: 223px;
    color: #FFFFFF;
    text-align: left;
}
.call-me .left-part img {
    height: 40px;
    position: relative;
    top: 5px;
    margin-right: 28px;
}
.call-me .right-part i {
    position: absolute;
    top: -11px;
    left: -26px;
    white-space: nowrap;
    font-style: normal;
    font-size: 12px;
    font-family: serif;
    text-transform: uppercase;
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
}
.call-me .right-part b {
    display: block;
    font-size: 18px;
    line-height: 16px;
}
.call-me a {
    display: inline-block;
    outline: none;
    cursor: pointer;
    width: 120px;
    padding: 10px 0;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
}
.call-me a.call-btn {
    color: #FF5816;
    border: 1px solid #FF5816;
    margin-right: 20px;
}
.call-me a.bre-btn {
    color: #FFFFFF;
    background-color: #3ea0f1;
    border: 1px solid #3ea0f1;
}
/* call me end */

/* 右侧浮层 */
.fixed-nav {
    position: fixed;
    right: 130px;
    top: 46%;
    width: 76px;
    z-index: 100;
    margin-top: -160px;
}

.fixed-nav .iconfont {
    color: #ff6f20;
    font-size: 35px;
}

.fixed-nav > ul > li {
    width: 100%;
    height: 76px;
    border: 1px solid #ddd;
    border-top: 0;
}

.fixed-nav > ul > li:first-child {
    border: 1px solid #ddd;
}

.fixed-nav > ul > li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: white;
    overflow: hidden;
}

.fixed-nav > ul > li a:hover {
    width: 74px;
    height: 74px;
    transform: scale(1.02);
    box-shadow: 0px 0 11px #ddd;
    border: 1px solid #e5e5e5;
}

.fixed-nav > ul > li a span {
    display: block;
    width: 44px;
    height: 37px;
    margin: 0 auto;
    margin-top: 9px;
}

.fixed-nav > ul > li a .point {
    width: 12px;
    height: 12px;
    background: #fd3c00;
    border-radius: 100%;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
}

.fixed-nav > ul > li a i {
    font-style: normal;
    font-size: 12px;
    color: #656565;
}

.fixed-nav .sub-encode:hover ul.encode {
    display: block;
}

.fixed-nav ul.encode {
    position: absolute;
    left: -175px;
    top: 20px;
    border: 1px solid #ddd;
    background-color: white;
    display: none;
    box-shadow: 0px 0 11px #ddd;
}

.fixed-nav ul.encode::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid #ddd;
    background-color: white;
    transform: rotate(45deg);
    right: -9px;
    top: 50%;
    margin-top: -5px;
    border-left: 0;
    border-bottom: 0;
}

.fixed-nav ul.encode li {
    width: 156px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 13px;
}

.fixed-nav ul.encode li span {
    display: block;
    width: 105px;
    height: 105px;
    margin: 0 auto;
}

.fixed-nav ul.encode li span.wap img {
    width: 104px;
}

.fixed-nav ul.encode li b {
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 5px;
    color: #000;
}

.fixed-nav ul.encode li p {
    font-size: 12px;
    color: #666;
}
/* 右侧浮层end */

/* 自定义模态框 */
.jia-modal {

}
.jia-modal .layui-layer-title {
    border: none;
    background: transparent;
    font-size: 16px;
    padding: 24px 24px 8px;
    height: auto;
    line-height: 1;
}
.jia-modal.layui-layer {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.jia-modal.layui-layer-page .layui-layer-content {
    word-wrap: break-word;
    overflow: hidden;
    padding: 24px 24px 0;
    font-size: 14px;
}
.jia-modal .layui-layer-setwin {
    top: 25px;
    right: 20px;
}
.jia-modal .layui-layer-btn {
    padding: 8px 24px 24px;
}
.jia-modal .layui-layer-btn .layui-layer-btn0 {
    color: #fff;
    background: #ff723d;
    border-color: #ff723d;
}
.jia-modal .layui-layer-btn a, .jia-modal .layui-layer-btn button {
    font-size: 14px;
    padding: 12px 18px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    height: auto;
    line-height: 1;
    margin: 0;
    margin-left: 10px;
    border: 1px solid #CCCCCC;
    cursor: pointer;
}
.jia-modal .table>tbody>tr>td {
    height: 40px!important;
    border-bottom: none!important;
}
.jia-modal .table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 24px;
    border-collapse: collapse;
    border-spacing: 0;
}
.jia-modal .table td {
    word-wrap: break-word;
    word-break: break-all;
}
.jia-modal .table th {
    text-align: left;
}
.jia-modal .table > tbody > tr > td, .jia-modal .table > tbody > tr > th, .jia-modal .table > thead > tr > td, .jia-modal .table > thead > tr > th {
    font-size: 12px;
}
.jia-modal .table > tbody > tr > th, .jia-modal .table > thead > tr > th {
    background: #f5f5f5;
    font-weight: 700;
    border: none;
    padding: 10px;
    line-height: 20px;
    vertical-align: middle;
}
.jia-modal .table > tbody > tr > th:first-child, .jia-modal .table > thead > tr > th:first-child {
    border-top-left-radius: 4px;
}
.jia-modal .table > tbody > tr > th:last-child, .jia-modal .table > thead > tr > th:last-child {
    border-top-right-radius: 4px;
}
.jia-modal .table > tbody > tr, .jia-modal .table > tbody > tr:hover {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.jia-modal .table > tbody > tr:hover {
    background: #fafafa;
}
.jia-modal .table > tbody > tr > td {
    line-height: 20px;
    padding: 6px;
    height: 50px;
    vertical-align: middle;
    border-top: 0;
    border-bottom: 1px solid #f5f5f5;
}
/* 自定义模态框end */

/* notify通知 */
body .notifyjs-corner {
    z-index: 99999999;
}
/* notify通知end */

/* 第三方登录 */
.auth-link {
    margin-right: 10px;
}
.auth-link .iconfont {
    font-size: 26px;
    padding: 2px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
}
.auth-link.qq .iconfont {
    color: #6cc5f5;
    border: 1px solid #6cc5f5;
}
.auth-link.weibo .iconfont {
    color: #ed3e3e;
    border: 1px solid #ed3e3e;
}
.auth-link.weixin .iconfont {
    color: #93d179;
    border: 1px solid #93d179;
}
/* 第三方登录end */

/* 全局问题反馈 */
.feedback-pop.layui-layer {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.feedback-wrap {
    width: 760px;
    padding: 30px;
    background: #f8f8f8;
}
.feedback-wrap .fk-close {
    display: block;
    height: 50px;
    width: 50px;
    padding: 9px 0;
    background: #e8e8e8;
    text-align: center;
    color: #cccccc;
    float: right;
    position: relative;
    top: -30px;
    right: -30px;
}
.feedback-wrap .fk-close .iconfont {
    font-size: 28px;
}
.feedback-wrap .fk-title {
    font-size: 24px;
    text-align: center;
}
.feedback-wrap .fk-text {
    font-size: 12px;
    padding: 15px 0 25px;
    text-align: center;
}
.feedback-wrap .success-text, .feedback-wrap .success-text .iconfont {
    color: #43bc60;
}
.feedback-wrap .form-group, .feedback-wrap .form-group .col {
    position: relative;
}
.feedback-wrap .form-group .placeholder {
    position: absolute;
    height: 20px;
    line-height: 20px;
    top: 7px;
    left: 10px;
    color: #ccc;
    z-index: 0;
}
.feedback-wrap .form-group {
    margin-bottom: 16px;
}
.feedback-wrap .form-group.first {

}
.feedback-wrap .form-group.last {
    text-align: center;
    margin-top: 36px;
    margin-bottom: 6px;
}
.feedback-wrap .form-group .form-control  {
    font-size: 14px;
    border: 1px solid #d8d8d8;
    padding: 8px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.feedback-wrap .form-group .form-control.textarea {
    height: 120px;
    width: 100%;
    resize: none;
    overflow-x: hidden;
}
.feedback-wrap .form-group .col {
    float: left;
}
.feedback-wrap .form-group .col .form-control.text {
    margin-right: 8px;
}
.feedback-wrap .form-group p.error, .feedback-wrap .form-group .col p.error {
    color: red;
    font-size: 12px;
}
.feedback-wrap .form-group p.error .iconfont, .feedback-wrap .form-group .col p.error .iconfont {
    font-size: 14px;
}
.feedback-wrap .form-group .col img {
    position: absolute;
    right: 10px;
    top: 2px;
}
.feedback-wrap .form-group .radio-list label {
    border: 1px solid #d8d8d8;
    padding: 6px 8px;
    margin-right: 8px;
    font-size: 14px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    float: left;
    cursor: pointer;
    background: white;
}
.feedback-wrap .form-group .radio-list label.on {
    border: 1px solid #ff6f20;
    background: #FFFFFF url(../images/common/jzfw_icon2_mini.jpg) no-repeat 101% 100%;
}
.feedback-wrap .form-group .radio-list input {
    display: none;
}
.feedback-wrap .form-group button {
    font-size: 18px;
    padding: 10px 30px;
}
/* 全局问题反馈end */

/* 分享 */
.share-btns {
    margin-top: 20px;
}
.share-btns .wechat-qrcode p {
    font-size: 12px;
    text-indent: 0;
}
/* 分享end */