/* 界面核心区域管理样式 */

/* 全局列表主体内容 */
.turen-sort {
    padding: 0 30px;
}

.turen-sort ul li {
    float: left;
}

.turen-sort ul li a {
    display: block;
    padding-right: 25px;
    color: #999;
    overflow: hidden;
    font-weight: bold;
    font-size: 12px;
    line-height: 49px;
}

.turen-sort ul li a.asc, .turen-sort ul li a.desc {
    color: #0099e9;
}

.turen-sort ul li a.asc {
    background: url(../images/common/asc_desc.png) no-repeat 83% 300%;
}

.turen-sort ul li a.desc {
    background: url(../images/common/asc_desc.png) no-repeat 83% -200%;
}

.turen-sort ul li a span {
    float: left;
    display: block;
    width: 6px;
    height: 9px;
    margin: 21px 0 19px 6px;
}

.turen-list {
    padding: 25px 30px 30px;
    border-top: 1px solid #f5f5f5;
    box-sizing: content-box;
    overflow: hidden;
    cursor: default;
    behavior: url(css/PIE.htc);
}

.turen-list .list-img {
    float: left;
    display: block;
    width: 160px;
    height: 120px;
    margin-right: 15px;
    margin-bottom: 15px;
    overflow: hidden;
}

.turen-list .list-img img {
    max-width: none;
    width: 160px;
    height: 120px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.turen-list .list-img:hover > a img {
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

.turen-list .turen-text {

}

.turen-list .turen-text h5 {
    overflow: hidden;
}

.turen-list .turen-text h5 .textname {
    float: left;
    display: block;
    width: auto;
    font-size: 16px;
    color: #333;
    line-height: 40px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 460px;
}

.turen-list:hover > .turen-text h5 .textname {
    color: #0099e9;
}

.turen-list .turen-text h5 ol {
    float: right;
    margin: 7px 0;
    overflow: hidden;
}

.turen-list .turen-text h5 ol li {
    float: left;
    margin-left: 8px;
}

.turen-list .turen-text h5 ol li a {
    display: block;
    font-size: 12px;
    color: #999;
    line-height: 26px;
    padding: 0 12px;
    background-color: #f5f5f5;
}

.turen-list .turen-text h5 ol li a:hover {
    color: #0099e9;
    background-color: #d9edf7;
}

.turen-list .turen-text p {
    height: 40px;
    font-size: 14px;
    color: #666;
    line-height: 20px;
    white-space: initial;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.turen-list .turen-text dl {
    margin-top: 15px;
    overflow: hidden;
}

.turen-list .turen-text dl dd {
    float: left;
    margin-right: 30px;
    overflow: hidden;
}

.turen-list .turen-text dl dd b {
    margin-left: 3px;
    font-size: 12px;
    color: #888;
    line-height: 20px;
}

/* 百科列表主体内容end */

/* 首页 */
.slide-form .main-slide {
    width: 860px;
}
.home-main-ad {
    position: relative;
}

.home-main-ad .swiper-container {
    height: 370px;
    color: #fff;
    overflow: hidden;
    position: relative;
}

.home-main-ad .swiper-container .swiper-slide img {
    display: block;
}

.home-main-ad .swiper-container .pagination {
    position: absolute;
    z-index: 20;
    left: 50%;
    bottom: 10px;
}

.home-main-ad .swiper-container .swiper-pagination-switch {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    margin-right: 10px;
    opacity: 0.8;
    background: #fff;
    border: 1px solid #fff;
    cursor: pointer;
}

.home-main-ad .swiper-container .swiper-active-switch {
    background: #0099e9;
}

.home-main-ad .arrow {
    position: absolute;
    z-index: 2;
    bottom: 137px;
    width: 60px;
    height: 90px;
    background: url('../images/common/soso-arrow.png') no-repeat;
}

.home-main-ad .arrow-left {
    background-position: 100% 50%;
    right: 0;
}

.home-main-ad .arrow-right {
    background-position: 0 50%;
    left: 0;
}

.call-form .home-pulish {
    height: 370px;
    padding: 28px;
    color: #333;
    background: white;
    border: 1px solid #ddd;
    border-left: none;
    box-shadow: 0 0 30px 0 rgba(204,204,204,.5);
    overflow: hidden;
}
.call-form .home-pulish .title {
    height: 38px;
    line-height: 38px;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
}
.call-form .home-pulish .form-items {
    margin-top: 20px;
}
.call-form .home-pulish .form-items .label {

}
.call-form .home-pulish .form-items input,
.call-form .home-pulish .form-items select {
    width: 208px;
    height: 34px;
    border: 1px solid #d8d8d8;
    margin-left: 12px;
}
.call-form .home-pulish .form-items input {
    padding: 0 0 0 10px;
}
.call-form .home-pulish .form-items select {
    padding: 0 0 0 10px;
}
.call-form .home-pulish .submit-btn {
    display: block;
    margin-top: 25px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    background-color: #0099e9;
    color: #fff;
    font-size: 16px;
}
.call-form .swiper-container {
    height: 30px;
    line-height: 30px;
    margin-top: 6px;
    overflow: hidden;
    text-align: center;
}
.call-form .home-pulish .text {
    display: block;
    margin-top: 10px;
    font-size: 12px;
    color: #999;
}
.call-form .home-pulish .red {
    color: red;
}
/* 首页end */





/* 百科详情主体内容 */
.detail-text {
    padding: 0 35px 15px 35px;
    background-color: #fff;
    font-size: 14px;
    line-height: 1.8em;
    overflow: hidden;
    text-align: justify;
    word-wrap: break-word;
}

.detail-text .detail-title {
    padding-top: 40px;
}

.detail-text .detail-title h3 {
    font-size: 20px;
    color: #333;
    line-height: 36px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.detail-text p {
    text-indent: 0 !important;
}

.detail-text p + p {
    margin-top: 1.3em;
}

.detail-text .detail-title .detail-date {
    overflow: hidden;
    margin-top: 6px;
}

.detail-text .detail-title .detail-date ul {
    float: left;
    overflow: hidden;
}

.detail-text .detail-title .detail-date ul li {
    float: left;
    margin-right: 42px;
    font-size: 14px;
    color: #333;
    line-height: 28px;
}

.detail-text .detail-title .detail-date ul li span {
    color: #666;
}

.detail-text .detail-title .detail-date a {
    display: block;
    float: right;
    overflow: hidden;
}

.detail-text .detail-title .detail-date a span {
    width: 14px;
    height: 14px;
    display: block;
    float: left;
}

.detail-text .detail-title .detail-date a b {
    font-size: 12px;
    color: #999;
    float: left;
    margin-left: 5px;
    line-height: 28px;
}

.detail-text .detail-digest {
    padding: 0 7px;
    margin-top: 46px;
}

.detail-text .detail-digest .detail-digest-line {
    position: relative;
    border: 1px solid #cecece;
    padding: 30px 18px 20px;
}

.detail-text .detail-digest .detail-digest-line span {
    position: absolute;
    top: -18px;
    left: 60px;
    background-color: #0099e9;
    font-size: 14px;
    color: #fafafa;
    line-height: 34px;
    padding: 0 14px;
}

.detail-text .detail-digest .detail-digest-line span i {
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 1px;
    left: 0;
    background-color: #fafafa;
}

.detail-text .detail-digest p {
    font-size: 14px;
    color: #666;
    line-height: 26px;
}

.detail-main p {
    font-size: 14px;
    color: #333;
    line-height: 24px;
    margin: 0 0;
}

.detail-text .detail-main .detail-pic {
    margin: 0 auto;
}

.detail-main {
    margin-top: 26px;
    margin-bottom: -15px;
}

.detail-main dl {
    margin-bottom: 26px;
    overflow: hidden;
    margin-top: 26px;
}

.detail-main dl dt {
    float: left;
    overflow: hidden;
}

.detail-main dl dt span {
    float: left;
    display: block;
    margin-right: 14px;
}

.detail-main dl dt b {
    float: right;
    font-size: 14px;
    color: #333;
    float: left;
}

.detail-main dl dt img {
    width: 147px;
}

.detail-main dl dd {
    float: right;
}

.detail-main dl dd b {
    float: left;
    font-size: 14px;
    color: #333;
    float: left;
}

.detail-main dl dd span {
    float: left;
    display: block;
    margin-right: 14px;
    width: 20px;
    height: 19px;
    background-image: url(../images/css_sprites.png);
    background-repeat: no-repeat;
    background-position: -337px -737px;
}

.detail-main dl dd a {
    display: block;
    overflow: hidden;
}

.detail-main ul {
    padding: 25px 0;
    overflow: hidden;
    border-top: 1px solid #ededed;
}

.detail-main ul li {
    float: left;
    width: 437px;
    max-width: 45%;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.detail-main ul li a {
    overflow: hidden;
}

.detail-main ul li a span {
    display: block;
    width: 20px;
    height: 16px;;
    float: left;
    margin-top: 3px;
    margin-right: 8px;
    background-image: url(../images/css_sprites.png);
    background-repeat: no-repeat;
}

.detail-main ul li a span.ap8 {
    background-position: -617px -738px;
}

.detail-main ul li a span.ap8 {
    background-position: -617px -738px;
}

.detail-main ul li a span.ap9 {
    background-position: -456px -378px;
}

.detail-main ul li a b {
    font-size: 14px;
}

.detail-content {
    margin-top: 26px;
}

.detail-content img {
    display: inline-block;
}

.detail-content p {
    font-size: 14px;
    color: #333;
    line-height: 24px;
    margin: 0 0;
}

.detail-content a {
    color: #0099e9;
}

.detail-more {
    margin-top: 20px;
    overflow: hidden;
}

.detail-more .detail-box {
    float: left;
    width: 432px;
    padding: 23px 34px;
    background-color: #fff;
}

.ie7 .detail-more .detail-box {
    width: 369px;
}

.detail-more .detail-box h5 {
    overflow: hidden;
}

.detail-more .detail-box h5 b {
    display: block;
    float: left;
    font-size: 16px;
    color: #333;
    line-height: 46px;
    font-weight: 700;
}

.detail-more .detail-box h5 a {
    float: right;
    font-size: 12px;
    color: #999;
    line-height: 46px;
}

.detail-more .detail-box ul li {
    font-size: 14px;
    line-height: 38px;
    border-bottom: 1px dashed #e3e3e3;
    overflow: hidden;
}

.detail-more .detail-box ul li.no-border {
    border: none;
}

.detail-more .detail-box ul li a {
    display: block;
    float: left;
    width: 300px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.detail-more .detail-box ul li b {
    font-size: 12px;
    color: #999;
    line-height: 38px;
    float: right;
}

.detail-more .detail-add {
    margin-left: 20px;
}

/* 全局详情主体内容end */

/* 单页面内容重构 */
.page-info .detail-title h3 {
    text-align: center;
}

/* 单页面内容重构end */

/* 瀑布流布局 */
#photo-water-list ul {
    margin: 0 20px;
}

#photo-water-list .water-list {
    width: 265px;
    margin-bottom: 15px;
    background: #fff;
    box-shadow: 0 0 2px #ccc;
    overflow: hidden;
    behavior: url(css/PIE.htc);
}

#photo-water-list .water-list:hover {
    box-shadow: 0 0 10px #999;
    behavior: url(css/PIE.htc);
}

#photo-water-list .water-list .wall-pic {
    width: 265px;
}

#photo-water-list .water-list .wall-pic img {
    width: 265px;
}

#photo-water-list .water-list .wall-text {
    background: #fff;
    padding: 0 20px;
    width: 265px;
}

.ie7 #photo-water-list .water-list .wall-text {
    width: 235px;
}

#photo-water-list .water-list .wall-text p {
    height: 40px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#photo-water-list .water-list .wall-text p .wall-word {
    display: block;
    font-size: 14px;
    color: #333;
    line-height: 40px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#photo-water-list .water-list .wall-pic {
    position: relative;
}

#photo-water-list .water-list .wall-pic span {
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
    padding: 0 20px;
    height: 32px;
    border-radius: 0 3px 3px 0;
    behavior: url(css/PIE.htc);
    z-index: 3;
}

#photo-water-list .water-list .wall-pic span i {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #0099e9;
    opacity: 0.9;
    filter: alpha(opacity=90);
    border-radius: 0 3px 3px 0;
    behavior: url(css/PIE.htc);
}

#photo-water-list .water-list .wall-pic span a {
    display: block;
    font-size: 14px;
    color: #fff;
    line-height: 32px;
    text-align: center;
}

#photo-water-list .water-list .wall-pic b {
    position: absolute;
    bottom: 0;
    right: 0;
    display: none;
    padding: 0 10px;
    height: 32px;
    border-radius: 3px 0 0 3px;
    behavior: url(css/PIE.htc);
    z-index: 3;
}

#photo-water-list .water-list .wall-pic b i {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #131b18;
    opacity: 0.8;
    filter: alpha(opacity=80);
    border-radius: 3px 0 0 3px;
    behavior: url(css/PIE.htc);
}

#photo-water-list .water-list .wall-pic b a {
    overflow: hidden;
    font-size: 12px;
    color: #dcdcdc;
    line-height: 32px;
    display: block;
    text-align: right;
    padding-left: 20px;
    background-image: url(../images/css_sprites.png);
    background-repeat: no-repeat;
    background-position: -237px -813px;
}

#photo-water-list .water-list .wall-pic:hover > span {
    display: block;
}

#photo-water-list .water-list .wall-pic:hover > b {
    display: block;
}

#photo-water-list .water-list .wall-text:hover > p a {
    color: #0099e9;
}

/* 瀑布流布局end */

/* 主要城市 */
.mod-promote {
    padding: 15px;
    padding-left: 25px;
    border-top: 1px solid #efefef;
    overflow: hidden;
    font-size: 14px;
}

.mod-promote dt {
    position: relative;
    float: left;
    background: #0099e9;
    color: #fff;
    line-height: 30px;
    padding: 0px 10px;
}

.mod-promote dt i {
    position: absolute;
    top: 11px;
    right: -5px;
    display: block;
    width: 5px;
    height: 8px;
    background: url(../images/index-bg.png) no-repeat 0px -91px;
}

.mod-promote dd {
    float: left;
    line-height: 30px;
    overflow: hidden;
}

.mod-promote dd a {
    padding: 0px 10px;
    float: left;
}

/* 主要城市end */

/* 案例幻灯片 */
.detail-photo-list {
    width: 815px;
    padding: 10px;
    border: 1px solid #e0e0e0;
    margin: 20px 0;
    position: relative;
}

.detail-photo-list .swiper-container {
    height: 350px;
    color: #fff;
    overflow: hidden;
    position: relative;
}

.detail-photo-list .swiper-container .swiper-slide {
    padding-left: 5px;
    padding-right: 5px;
}

.detail-photo-list .swiper-container .swiper-slide img {
    display: block;
}

.detail-photo-list .swiper-container .pagination {
    position: absolute;
    z-index: 20;
    left: 10px;
    bottom: 10px;
}

.detail-photo-list .swiper-container .swiper-pagination-switch {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    margin-right: 8px;
    opacity: 0.8;
    background: #fff;
    border: 1px solid #fff;
    cursor: pointer;
}

.detail-photo-list .swiper-container .swiper-active-switch {
    background: #0099e9;
}

.detail-photo-list .arrow {
    position: absolute;
    z-index: 2;
    bottom: 16px;
    width: 54px;
    height: 54px;
    background: url('../images/common/sprite-square.png') no-repeat;
}

.detail-photo-list .arrow-left {
    background-position: 0px -55px;
    right: 16px;
}

.detail-photo-list .arrow-right {
    background-position: 0px -110px;
    right: 71px;
}

/* 案例幻灯片end */

/* 搬家吉日功能 */
.jiri-baike {
    margin-top: 30px;
}

.jiri-baike h3 {
    display: block;
    font-size: 1.17em;
    font-weight: bold;
}

/* 搬家吉日功能end */

/* 问答功能 */
.faqs-index .ask-info {
    margin: 20px 0 0;
    padding: 0 0 20px;
}

.faqs-index .ask-info .info-top {
    padding: 0 5px;
    height: 45px;
    line-height: 45px;
    border-bottom: 1px solid #d8d8d8;
}

.faqs-index .ask-info .info-top li {
    padding: 0 20px;
    cursor: pointer;
}

.faqs-index .ask-info .info-top a {
    display: block;
    position: relative;
    color: #333;
    font-size: 16px;
}

.faqs-index .ask-info .info-top a:hover, .faqs-index .ask-info .info-top .active {
    color: #0099e9;
    border-bottom: 2px solid #0099e9;
    top: -2px;
}

.faqs-index .info-body li {
    position: relative;
    padding: 20px 0;
    border-top: 1px solid #e5e5e5;
}

.faqs-index .info-body .first {
    border-top: none;
}

.faqs-index .info-body .info-title {
    display: block;
    font-size: 16px;
    font-weight: normal;
    color: #333;
}

.faqs-index .info-body .post-time {
    display: block;
    margin: 10px 0;
    margin-bottom: 6px;
    font-size: 12px;
    color: #333;
}

.faqs-index .info-body .info-content {
    font-size: 14px;
    color: #666;
}

.faqs-index .info-body .ask-label {
    display: block;
    margin-top: 12px;
}

.faqs-index .info-body .ask-label a {
    margin-right: 2px;
    padding: 2px 10px;
    color: #333;
    border: 1px solid #e8e8e8;
    cursor: default;
}

.faqs-index .info-body .ask-more, .faqs-index .info-body .ask-more2 {
    display: block;
    margin: 10px auto 0;
    width: 300px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    font-size: 14px;
    color: #666;
    background-color: #fafafa;
    border: 1px solid #e5e5e5;
}

.faqs-index .info-body .ask-more.loading {
    background: url(../images/load/loading2.gif) no-repeat 75% 50%;
}

.faqs-index .info-body .ajax {
    display: none;
}

.ask-answer {
    margin: 20px 0;
    padding: 20px;
    max-height: 270px;
    background-color: #f8f8f8;
}

.ask-answer .jsshow {
    margin-top: 8px;
    padding: 10px;
    width: 100%;
    height: 110px;
    border: 1px solid #f8f8f8;
}

.ask-answer .ask-foot {
    margin-top: 10px;
}

.ask-answer .ask-foot .tips {
    font-size: 12px;
    color: #666;
}

.ask-answer .ask-answer-btn span {
    color: #333;
    padding: 5px 30px;
    font-size: 14px;
    cursor: pointer;
}

.ask-answer .ask-answer-btn .ask-confirm {
    color: #fff;
    background-color: #0099e9;
}

/* 问答功能end */