/* 界面核心区域管理样式 */

/* 全局列表主体内容 */
.turen-sort {
    padding: 0 30px;
}

.turen-sort ul li {
    float: left;
}

.turen-sort ul li a {
    display: block;
    padding-right: 25px;
    color: #999;
    overflow: hidden;
    font-weight: bold;
    font-size: 12px;
    line-height: 49px;
}

.turen-sort ul li a.asc, .turen-sort ul li a.desc {
    color: #0099e9;
}

.turen-sort ul li a.asc {
    background: url(../images/common/asc_desc.png) no-repeat 83% 300%;
}

.turen-sort ul li a.desc {
    background: url(../images/common/asc_desc.png) no-repeat 83% -200%;
}

.turen-sort ul li a span {
    float: left;
    display: block;
    width: 6px;
    height: 9px;
    margin: 21px 0 19px 6px;
}

.turen-list {
    padding: 25px 30px 30px;
    border-top: 1px solid #f5f5f5;
    box-sizing: content-box;
    overflow: hidden;
    cursor: default;
    behavior: url(css/PIE.htc);
}

.turen-list .list-img {
    float: left;
    display: block;
    width: 160px;
    height: 120px;
    margin-right: 15px;
    margin-bottom: 15px;
    overflow: hidden;
}

.turen-list .list-img img {
    max-width: none;
    width: 160px;
    height: 120px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.turen-list .list-img:hover > a img {
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

.turen-list .turen-text {

}

.turen-list .turen-text h5 {
    overflow: hidden;
}

.turen-list .turen-text h5 .textname {
    float: left;
    display: block;
    width: auto;
    font-size: 16px;
    color: #333;
    line-height: 40px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 460px;
}

.turen-list:hover > .turen-text h5 .textname {
    color: #0099e9;
}

.turen-list .turen-text h5 ol {
    float: right;
    margin: 7px 0;
    overflow: hidden;
}

.turen-list .turen-text h5 ol li {
    float: left;
    margin-left: 8px;
}

.turen-list .turen-text h5 ol li a {
    display: block;
    font-size: 12px;
    color: #999;
    line-height: 26px;
    padding: 0 12px;
    background-color: #f5f5f5;
}

.turen-list .turen-text h5 ol li a:hover {
    color: #0099e9;
    background-color: #d9edf7;
}

.turen-list .turen-text p {
    height: 40px;
    font-size: 14px;
    color: #666;
    line-height: 20px;
    white-space: initial;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.turen-list .turen-text dl {
    margin-top: 15px;
    overflow: hidden;
}

.turen-list .turen-text dl dd {
    float: left;
    margin-right: 30px;
    overflow: hidden;
}

.turen-list .turen-text dl dd b {
    margin-left: 3px;
    font-size: 12px;
    color: #888;
    line-height: 20px;
}

/* 百科列表主体内容end */

/* 首页 */
.slide-form .main-slide {
    width: 860px;
}

.home-main-ad {
    position: relative;
}

.home-main-ad .swiper-container {
    height: 370px;
    color: #fff;
    overflow: hidden;
    position: relative;
}

.home-main-ad .swiper-container .swiper-slide img {
    display: block;
}

.home-main-ad .swiper-container .pagination {
    position: absolute;
    z-index: 20;
    left: 50%;
    bottom: 10px;
}

.home-main-ad .swiper-container .swiper-pagination-switch {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    margin-right: 10px;
    opacity: 0.8;
    background: #fff;
    border: 1px solid #fff;
    cursor: pointer;
}

.home-main-ad .swiper-container .swiper-active-switch {
    background: #0099e9;
}

.home-main-ad .arrow {
    position: absolute;
    z-index: 2;
    bottom: 137px;
    width: 60px;
    height: 90px;
    background: url('../images/common/soso-arrow.png') no-repeat;
}

.home-main-ad .arrow-left {
    background-position: 100% 50%;
    right: 0;
}

.home-main-ad .arrow-right {
    background-position: 0 50%;
    left: 0;
}

.call-form .home-pulish {
    height: 370px;
    padding: 28px;
    color: #333;
    background: white;
    border: 1px solid #ddd;
    border-left: none;
    box-shadow: 0 0 30px 0 rgba(204, 204, 204, .5);
    overflow: hidden;
}

.call-form .home-pulish .title {
    height: 38px;
    line-height: 38px;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
}

.call-form .home-pulish .form-items {
    margin-top: 20px;
}

.call-form .home-pulish .form-items .label {

}

.call-form .home-pulish .form-items input,
.call-form .home-pulish .form-items select {
    width: 212px;
    height: 34px;
    border: 1px solid #d8d8d8;
    margin-left: 8px;
}

.call-form .home-pulish .form-items input {
    padding: 0 0 0 10px;
}

.call-form .home-pulish .form-items select {
    padding: 0 0 0 10px;
}

.call-form .home-pulish .submit-btn {
    display: block;
    margin-top: 25px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    background-color: #0099e9;
    color: #fff;
    font-size: 16px;
}

.call-form .swiper-container {
    height: 30px;
    line-height: 30px;
    margin-top: 6px;
    overflow: hidden;
    text-align: center;
}

.call-form .home-pulish .text {
    display: block;
    margin-top: 10px;
    font-size: 12px;
    color: #999;
}

.call-form .home-pulish .red {
    color: red;
}

/* 首页end */


/* 百科详情主体内容 */
.detail-text {
    padding: 0 35px 15px 35px;
    background-color: #fff;
    font-size: 14px;
    line-height: 1.8em;
    overflow: hidden;
    text-align: justify;
    word-wrap: break-word;
}

.detail-text .detail-title {
    padding-top: 40px;
}

.detail-text .detail-title h3 {
    font-size: 20px;
    color: #333;
    line-height: 36px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.detail-text p {
    text-indent: 0 !important;
}

.detail-text p + p {
    margin-top: 1.3em;
}

.detail-text .detail-title .detail-date {
    overflow: hidden;
    margin-top: 6px;
}

.detail-text .detail-title .detail-date ul {
    float: left;
    overflow: hidden;
}

.detail-text .detail-title .detail-date ul li {
    float: left;
    margin-right: 42px;
    font-size: 14px;
    color: #333;
    line-height: 28px;
}

.detail-text .detail-title .detail-date ul li span {
    color: #666;
}

.detail-text .detail-title .detail-date a {
    display: block;
    float: right;
    overflow: hidden;
}

.detail-text .detail-title .detail-date a span {
    width: 14px;
    height: 14px;
    display: block;
    float: left;
}

.detail-text .detail-title .detail-date a b {
    font-size: 12px;
    color: #999;
    float: left;
    margin-left: 5px;
    line-height: 28px;
}

.detail-text .detail-digest {
    padding: 0 7px;
    margin-top: 46px;
}

.detail-text .detail-digest .detail-digest-line {
    position: relative;
    border: 1px solid #cecece;
    padding: 30px 18px 20px;
}

.detail-text .detail-digest .detail-digest-line span {
    position: absolute;
    top: -18px;
    left: 60px;
    background-color: #0099e9;
    font-size: 14px;
    color: #fafafa;
    line-height: 34px;
    padding: 0 14px;
}

.detail-text .detail-digest .detail-digest-line span i {
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 1px;
    left: 0;
    background-color: #fafafa;
}

.detail-text .detail-digest p {
    font-size: 14px;
    color: #666;
    line-height: 26px;
}

.detail-main p {
    font-size: 14px;
    color: #333;
    line-height: 24px;
    margin: 0 0;
}

.detail-text .detail-main .detail-pic {
    margin: 0 auto;
}

.detail-main {
    margin-top: 26px;
    margin-bottom: -15px;
}

.detail-main dl {
    margin-bottom: 26px;
    overflow: hidden;
    margin-top: 26px;
}

.detail-main dl dt {
    float: left;
    overflow: hidden;
}

.detail-main dl dt span {
    float: left;
    display: block;
    margin-right: 14px;
}

.detail-main dl dt b {
    float: right;
    font-size: 14px;
    color: #333;
    float: left;
}

.detail-main dl dt img {
    width: 147px;
}

.detail-main dl dd {
    float: right;
}

.detail-main dl dd b {
    float: left;
    font-size: 14px;
    color: #333;
    float: left;
}

.detail-main dl dd span {
    float: left;
    display: block;
    margin-right: 14px;
    width: 20px;
    height: 19px;
    background-image: url(../images/css_sprites.png);
    background-repeat: no-repeat;
    background-position: -337px -737px;
}

.detail-main dl dd a {
    display: block;
    overflow: hidden;
}

.detail-main ul {
    padding: 25px 0;
    overflow: hidden;
    border-top: 1px solid #ededed;
}

.detail-main ul li {
    float: left;
    width: 437px;
    max-width: 45%;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.detail-main ul li a {
    overflow: hidden;
}

.detail-main ul li a span {
    display: block;
    width: 20px;
    height: 16px;;
    float: left;
    margin-top: 3px;
    margin-right: 8px;
    background-image: url(../images/css_sprites.png);
    background-repeat: no-repeat;
}

.detail-main ul li a span.ap8 {
    background-position: -617px -738px;
}

.detail-main ul li a span.ap8 {
    background-position: -617px -738px;
}

.detail-main ul li a span.ap9 {
    background-position: -456px -378px;
}

.detail-main ul li a b {
    font-size: 14px;
}

.detail-content {
    margin-top: 26px;
}

.detail-content img {
    display: inline-block;
}

.detail-content p {
    font-size: 14px;
    color: #333;
    line-height: 24px;
    margin: 0 0;
}

.detail-content a {
    color: #0099e9;
}

.detail-more {
    margin-top: 20px;
    overflow: hidden;
}

.detail-more .detail-box {
    float: left;
    width: 432px;
    padding: 23px 34px;
    background-color: #fff;
}

.ie7 .detail-more .detail-box {
    width: 369px;
}

.detail-more .detail-box h5 {
    overflow: hidden;
}

.detail-more .detail-box h5 b {
    display: block;
    float: left;
    font-size: 16px;
    color: #333;
    line-height: 46px;
    font-weight: 700;
}

.detail-more .detail-box h5 a {
    float: right;
    font-size: 12px;
    color: #999;
    line-height: 46px;
}

.detail-more .detail-box ul li {
    font-size: 14px;
    line-height: 38px;
    border-bottom: 1px dashed #e3e3e3;
    overflow: hidden;
}

.detail-more .detail-box ul li.no-border {
    border: none;
}

.detail-more .detail-box ul li a {
    display: block;
    float: left;
    width: 300px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.detail-more .detail-box ul li b {
    font-size: 12px;
    color: #999;
    line-height: 38px;
    float: right;
}

.detail-more .detail-add {
    margin-left: 20px;
}

/* 全局详情主体内容end */

/* 单页面内容重构 */
.page-info .detail-title h3 {
    text-align: center;
}

/* 单页面内容重构end */

/* 瀑布流布局 */
#photo-water-list ul {
    margin: 0 20px;
}

#photo-water-list .water-list {
    width: 265px;
    margin-bottom: 15px;
    background: #fff;
    box-shadow: 0 0 2px #ccc;
    overflow: hidden;
    behavior: url(css/PIE.htc);
}

#photo-water-list .water-list:hover {
    box-shadow: 0 0 10px #999;
    behavior: url(css/PIE.htc);
}

#photo-water-list .water-list .wall-pic {
    width: 265px;
}

#photo-water-list .water-list .wall-pic img {
    width: 265px;
}

#photo-water-list .water-list .wall-text {
    background: #fff;
    padding: 0 20px;
    width: 265px;
}

.ie7 #photo-water-list .water-list .wall-text {
    width: 235px;
}

#photo-water-list .water-list .wall-text p {
    height: 40px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#photo-water-list .water-list .wall-text p .wall-word {
    display: block;
    font-size: 14px;
    color: #333;
    line-height: 40px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#photo-water-list .water-list .wall-pic {
    position: relative;
}

#photo-water-list .water-list .wall-pic span {
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
    padding: 0 20px;
    height: 32px;
    border-radius: 0 3px 3px 0;
    behavior: url(css/PIE.htc);
    z-index: 3;
}

#photo-water-list .water-list .wall-pic span i {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #0099e9;
    opacity: 0.9;
    filter: alpha(opacity=90);
    border-radius: 0 3px 3px 0;
    behavior: url(css/PIE.htc);
}

#photo-water-list .water-list .wall-pic span a {
    display: block;
    font-size: 14px;
    color: #fff;
    line-height: 32px;
    text-align: center;
}

#photo-water-list .water-list .wall-pic b {
    position: absolute;
    bottom: 0;
    right: 0;
    display: none;
    padding: 0 10px;
    height: 32px;
    border-radius: 3px 0 0 3px;
    behavior: url(css/PIE.htc);
    z-index: 3;
}

#photo-water-list .water-list .wall-pic b i {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #131b18;
    opacity: 0.8;
    filter: alpha(opacity=80);
    border-radius: 3px 0 0 3px;
    behavior: url(css/PIE.htc);
}

#photo-water-list .water-list .wall-pic b a {
    overflow: hidden;
    font-size: 12px;
    color: #dcdcdc;
    line-height: 32px;
    display: block;
    text-align: right;
    padding-left: 20px;
    background-image: url(../images/css_sprites.png);
    background-repeat: no-repeat;
    background-position: -237px -813px;
}

#photo-water-list .water-list .wall-pic:hover > span {
    display: block;
}

#photo-water-list .water-list .wall-pic:hover > b {
    display: block;
}

#photo-water-list .water-list .wall-text:hover > p a {
    color: #0099e9;
}

/* 瀑布流布局end */

/* 主要城市 */
.mod-promote {
    padding: 15px;
    padding-left: 25px;
    border-top: 1px solid #efefef;
    overflow: hidden;
    font-size: 14px;
}

.mod-promote dt {
    position: relative;
    float: left;
    background: #0099e9;
    color: #fff;
    line-height: 30px;
    padding: 0px 10px;
}

.mod-promote dt i {
    position: absolute;
    top: 11px;
    right: -5px;
    display: block;
    width: 5px;
    height: 8px;
    background: url(../images/index-bg.png) no-repeat 0px -91px;
}

.mod-promote dd {
    float: left;
    line-height: 30px;
    overflow: hidden;
}

.mod-promote dd a {
    padding: 0px 10px;
    float: left;
}

/* 主要城市end */

/* 案例幻灯片 */
.detail-photo-list {
    width: 815px;
    padding: 10px;
    border: 1px solid #e0e0e0;
    margin: 20px 0;
    position: relative;
}

.detail-photo-list .swiper-container {
    height: 350px;
    color: #fff;
    overflow: hidden;
    position: relative;
}

.detail-photo-list .swiper-container .swiper-slide {
    padding-left: 5px;
    padding-right: 5px;
}

.detail-photo-list .swiper-container .swiper-slide img {
    display: block;
}

.detail-photo-list .swiper-container .pagination {
    position: absolute;
    z-index: 20;
    left: 10px;
    bottom: 10px;
}

.detail-photo-list .swiper-container .swiper-pagination-switch {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    margin-right: 8px;
    opacity: 0.8;
    background: #fff;
    border: 1px solid #fff;
    cursor: pointer;
}

.detail-photo-list .swiper-container .swiper-active-switch {
    background: #0099e9;
}

.detail-photo-list .arrow {
    position: absolute;
    z-index: 2;
    bottom: 16px;
    width: 54px;
    height: 54px;
    background: url('../images/common/sprite-square.png') no-repeat;
}

.detail-photo-list .arrow-left {
    background-position: 0px -55px;
    right: 16px;
}

.detail-photo-list .arrow-right {
    background-position: 0px -110px;
    right: 71px;
}

/* 案例幻灯片end */

/* 搬家吉日功能 */
.jiri-baike {
    margin-top: 30px;
}

.jiri-baike h3 {
    display: block;
    font-size: 1.17em;
    font-weight: bold;
}

/* 搬家吉日功能end */

/* 问答功能 */
.faqs-index .ask-info {
    margin: 20px 0 0;
    padding: 0 0 20px;
}

.faqs-index .ask-info .info-top {
    padding: 0 5px;
    height: 45px;
    line-height: 45px;
    border-bottom: 1px solid #d8d8d8;
}

.faqs-index .ask-info .info-top li {
    padding: 0 20px;
    cursor: pointer;
}

.faqs-index .ask-info .info-top a {
    display: block;
    position: relative;
    color: #333;
    font-size: 16px;
}

.faqs-index .ask-info .info-top a:hover, .faqs-index .ask-info .info-top .active {
    color: #0099e9;
    border-bottom: 2px solid #0099e9;
    top: -2px;
}

.faqs-index .info-body li {
    position: relative;
    padding: 20px 0;
    border-top: 1px solid #e5e5e5;
}

.faqs-index .info-body .first {
    border-top: none;
}

.faqs-index .info-body .info-title {
    display: block;
    font-size: 16px;
    font-weight: normal;
    color: #333;
}

.faqs-index .info-body .post-time {
    display: block;
    margin: 10px 0;
    margin-bottom: 6px;
    font-size: 12px;
    color: #333;
}

.faqs-index .info-body .info-content {
    font-size: 14px;
    color: #666;
}

.faqs-index .info-body .ask-label {
    display: block;
    margin-top: 12px;
}

.faqs-index .info-body .ask-label a {
    margin-right: 2px;
    padding: 2px 10px;
    color: #333;
    border: 1px solid #e8e8e8;
    cursor: default;
}

.faqs-index .info-body .ask-more, .faqs-index .info-body .ask-more2 {
    display: block;
    margin: 10px auto 0;
    width: 300px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    font-size: 14px;
    color: #666;
    background-color: #fafafa;
    border: 1px solid #e5e5e5;
}

.faqs-index .info-body .ask-more.loading {
    background: url(../images/load/loading2.gif) no-repeat 75% 50%;
}

.faqs-index .info-body .ajax {
    display: none;
}

.ask-answer {
    margin: 20px 0;
    padding: 20px;
    max-height: 270px;
    background-color: #f8f8f8;
}

.ask-answer .jsshow {
    margin-top: 8px;
    padding: 10px;
    width: 100%;
    height: 110px;
    border: 1px solid #f8f8f8;
}

.ask-answer .ask-foot {
    margin-top: 10px;
}

.ask-answer .ask-foot .tips {
    font-size: 12px;
    color: #666;
}

.ask-answer .ask-answer-btn span {
    color: #333;
    padding: 5px 30px;
    font-size: 14px;
    cursor: pointer;
}

.ask-answer .ask-answer-btn .ask-confirm {
    color: #fff;
    background-color: #0099e9;
}
/* 问答功能end */

/* 关于我们 */
.about-us-banner {
    height: 399px;
    background: url('../images/banjia/about-us-banner.png') no-repeat 50% 0%;
}
.aboutnav {
    border-bottom: solid 1px #dedede;
    font-size: 16px;
}
.aboutnav ul {
    height: 48px;
    line-height: 48px;
    width: 260px;
    margin: 0 auto;
}
.aboutnav ul li {
     float: left;
     padding: 0 23px;
     cursor: pointer;
 }
.aboutnav ul li.on {
    border-bottom: solid 2px #0099e9;
    color: #0099e9;
}
.about-centent {
    margin-bottom: 20px;
}
.about-infor p {
    line-height: 24px;
    font-size: 14px;
    color: #333;
}
.about-infor>p:first-child {
    padding-top: 40px;
}
.website-color {
    color: #0099e9 !important;
}
.about-infor ul {
    margin: 30px 0 38px;
    overflow: hidden;
}
.about-infor ul li {
    width: 23%;
    float: left;
    height: 160px;
    margin-right: 20px;
}
.about-infor ul li h4 {
    font-size: 20px;
    color: #0099e9;
    font-weight: 400;
    margin-bottom: 15px;
}
.add-ours {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}
.addtop {
    font-size: 14px;
    color: #333;
    margin: 40px 0;
}
.addtop p {
    line-height: 24px;
}
.addtop a:active, .addtop a:link, .addtop a:hover, .addtop a:visited {
    color: #0099e9;
}
.position {
    height: auto;
    clear: both;
}
.infortitle {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    color: #333;
    padding-left: 65px;
    background: #eeeeee;
    font-weight: 700;
}
.infortext {
    margin: 0 0 20px 65px;
}
.texts {
    height: 57px;
    border-bottom: dashed 1px #eaeaea;
    line-height: 57px;
    margin-bottom: 5px;
    font-size: 16px;
}
.infortext p {
    font-size: 14px;
    color: #444;
    line-height: 26px;
}
/* 关于我们end */

/* 首页公共部分 */
.turen-home .head-title {
    margin-top: 42px;
    margin-bottom: 16px;
    text-align: center;
}
.turen-home .head-title h2 {
    position: relative;
    width: 600px;
    margin: 15px auto 0 auto;
    font-weight: normal;
}
.turen-home .head-title h2 span {
    position: relative;
    background-color: #fff !important;
    z-index: 1;
    padding: 0 30px;
    font-size: 26px;
    top: -5px;
}
.turen-home .head-title h2 hr {
    position: absolute;
    width: 100%;
    display: block;
    border: none;
    top: 50%;
    height: 1px;
    background: #d9d9d9;
}
.turen-home .head-title .txt {
    margin-top: 10px;
    color: #888;
    font-size: 14px;
}
.turen-home .work-star {
    height: 300px;
    background: orangered;
}
/* 首页公共部分end */

/* 首页服务流程 */
.work-flow b {
    font-size: 24px;
    color: #5dc560;
}

.work-flow p {
    margin-top: 13px;
    font-size: 16px;
}

.work-flow ul li {
    float: left;
    width: 267px;
    text-align: center;
    margin: 0 20px;
}

.work-flow ul li.first {
    margin-left: 0;
}

.work-flow ul li.last {
    margin-right: 0;
}

.work-flow ul li i {
    height: 122px;
    display: block;
    margin-bottom: 20px;
}

.work-flow .insqzxfw_img1 {
    background: url(../images/n002.jpg) no-repeat 45px 0;
}

.work-flow .insqzxfw_img2 {
    background: url(../images/n002.jpg) no-repeat -255px 0;
}

.work-flow .insqzxfw_img3 {
    background: url(../images/n002.jpg) no-repeat -575px 0;
}

.work-flow .insqzxfw_img4 {
    background: url(../images/n002.jpg) no-repeat -888px 0;
}

.work-flow .insqzxfw_but {
    width: 200px;
    height: 60px;
    margin: 0 auto;
}

.work-flow .insqzxfw_but a {
    background-color: #5dc560;
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    margin-top: 40px;
    text-align: center;
    color: #FFF;
    font-size: 20px;
    border-radius: 20px;
}

.work-flow .insqzxfw_but a:hover {
    background-color: #22ad38;
}
/* 首页服务流程end */

/* 首页热门服务 */
.hot-item ul li {
    width: 390px;
    height: 223px;
    list-style: none;
    position: relative;
    float: left;
    overflow: hidden;
    margin-right: 10px;
    margin-bottom: 10px;
}

.hot-item ul li.last {
    margin-right: 0;
}

.hot-item ul li .a1 img {
    width: 390px;
    height: 223px
}

.hot-item ul li .a1 .divA {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 390px;
    height: 60px;
    padding: 10px 20px;
    background: #fafafa
}

.hot-item ul li .a1 .divA > .p1 {
    width: 290px;
    height: 25px;
    font-size: 16px;
    line-height: 25px;
    color: #666
}

.hot-item ul li .a1 .divA > .p2 {
    width: 290px;
    height: 21px;
    font-size: 12px;
    color: #b4b4b4;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.hot-item ul li .a1 .divA > .p3 {
    position: absolute;
    right: 0;
    bottom: 12px;
    width: 85px;
    height: 28px;
    color: #f60
}

.hot-item ul li .a1 .divA > .p3 > span {
    font-size: 18px;
    font-weight: 700
}

.hot-item ul li .a2 {
    position: absolute;
    top: 0;
    left: -390px;
    width: 390px;
    height: 223px;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, .5);
    transition: all .2s
}

.hot-item ul li .a2 .p4 {
    width: 390px;
    text-align: center;
    position: absolute;
    top: 26px;
    left: -390px;
    color: #0099e9;
    font-size: 22px;
    font-weight: 500;
    transition: all .2s .1s ease-out
}

.hot-item ul li .a2 .p5 {
    width: 390px;
    text-align: center;
    line-height: 20px;
    position: absolute;
    top: 65px;
    left: -474px;
    margin: 10px 0 10px;
    font-size: 14px;
    color: #fff;
    transition: all .2s .2s ease-out
}

.hot-item ul li .a2 .p6 {
    position: absolute;
    top: 125px;
    left: 148px;
    transform: scale(1.4);
    transition: all .3s .2s
}

.hot-item ul li .a2 .p6 span {
    font-size: 30px;
    font-weight: 500;
    color: #fff
}

.hot-item ul li .a2 .p7 {
    position: absolute;
    bottom: -50px;
    left: 128px;
    width: 145px;
    height: 34px;
    line-height: 34px;
    border-radius: 20px;
    margin: 10px auto;
    border: 1px solid;
    transition: all .2s .5s
}

/* 首页热门服务end */

/* 首页百科 */
.hot-article-list {
    border: 1px solid #e8e8e8;
    border-top: 4px solid #e8e8e8;
    padding: 10px 0;
    overflow: hidden;
}

.hot-article-list .h-n-box {
    width: 396px;
    padding: 0 25px;
    float: left;
    border-right: 1px solid #e8e8e8;
}
.hot-article-list .h-n-box .tit {
    padding: 15px 0 30px;
}
.hot-article-list .h-n-box .tit h3 {
    width:100px;
    font-size:18px;
    color:#0099e9;
    float:left;
}
.hot-article-list .h-n-box .tit a {
    width:50px;
    float:right;
    color:#555;
    text-align:right;
    line-height:26px;
}
.hot-article-list .h-n-box dl,.hot-article-list .h-n-box dl dt,.hot-article-list .h-n-box dl dd {
    float:left;
    overflow:hidden;
}
.hot-article-list .h-n-box dl {
    padding-bottom:10px;
    float:left;
}
.hot-article-list .h-n-box dl dt {

}
.hot-article-list .h-n-box dl dd {
    margin-left: 15px;
    width: 190px;
}
.hot-article-list .h-n-box dl dd a {
    font-size:14px;
    display:block;
}
.hot-article-list .h-n-box dl dd p {
    height:54px;
    line-height:18px;
    overflow:hidden;
    color:#999;
    margin-top:5px;
}
.hot-article-list .h-n-box dl dd span {
    color:#bbb;
    margin-top:10px;
}
.hot-article-list .h-n-box .list {
    border-top:1px dotted #ccc;
    float:left;
    padding:5px 0;
}
.hot-article-list .h-n-box .list a {
    font-size:14px;
    display:block;
}
.hot-article-list .h-n-box .list p {
    height:36px;
    line-height:18px;
    overflow:hidden;
    color:#999;
    margin-top:5px;
}
.hot-article-list .h-n-box .list span {
    color:#bbb;
    margin-top:10px;
    white-space:nowrap;
}
/* 首页百科end */

/* 用户好评 */
.turen-home .user-comment .head-title {
    margin-bottom: 0;
}

.home-comment-slide {
    position: relative;
}

.home-comment-slide .swiper-container {
    height: 380px;
    color: #fff;
    overflow: hidden;
    position: relative;
}

.home-comment-slide .swiper-container .user-info {
    margin-left: 51px;
    margin-right: 51px;
    height: 380px;
    padding-top: 35px;
    padding-bottom: 35px;
    background: white;
}

.home-comment-slide .swiper-container .swiper-slide .info-img {
    display: block;
    width: 498px;
    height: 312px;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

.home-comment-slide .swiper-container .swiper-slide .info-txt {
    margin-left: 498px;
    width: 590px;
    height: 380px;
}

.home-comment-slide .swiper-container .swiper-slide .info-txt-p {
    height: 150px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 20px;
    line-height: 24px;
    background: #F9F9F9;
    color: #666;
}

.home-comment-slide .swiper-container .swiper-slide b {
    font-size: 20px;
}

.home-comment-slide .swiper-container .swiper-slide .info-txt h6 {
    color: #0099e9;
    margin: 36px 0px 15px 15px;
    font-size: 20px;
    font-weight: normal;
}

.home-comment-slide .swiper-container .swiper-slide .info-txt span {
    display: block;
    color: black;
    margin: 15px;
    font-size: 14px;
}

.home-comment-slide .swiper-container .pagination {
    position: absolute;
    z-index: 20;
    left: 68%;
    bottom: 50px;
}

.home-comment-slide .swiper-container .swiper-pagination-switch {
    display: inline-block;
    border: 1px solid #ff5555;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    margin-right: 10px;
    opacity: 0.8;
    background: #fff;
    border: 1px solid #666666;
    cursor: pointer;
}

.home-comment-slide .swiper-container .swiper-active-switch {
    background: #0099e9;
}

.home-comment-slide .arrow {
    position: absolute;
    z-index: 2;
    bottom: 137px;
    width: 24px;
    height: 40px;
    background: url('../images/common/btn_mian_arrow.png') no-repeat;
}

.home-comment-slide .arrow-left {
    background-position: 100% 50%;
    right: -24px;
}

.home-comment-slide .arrow-right {
    background-position: 0 50%;
    left: -24px;
}
/* 首页用户好评end */

/* 首页新闻 */
.news-center {
    padding: 30px 0;
}

.news-center h3 {
    font-size: 22px;
    color: #333;
    font-weight: 400;
}

.news-center .more {
    position: absolute;
    right: 0;
    font-size: 12px;
    top: 15px;
    color: #999;
}

.news-center .box {
    float: left;
    width: 396px;
    padding-right: 30px;
}

.news-center .box.last {
    padding-right: 0;
}

.news-center .box dt {
    height: 38px;
    border-bottom: 1px solid #333;
    position: relative;
}

.news-center .box dd {
    border: 1px solid #ccc;
    padding: 10px 18px;
}

.news-center .box dd a {
    float: left;
    display: block;
    width: 250px;
    line-height: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.news-center .box .news-date {
    display: block;
    line-height: 32px;
}

/* 首页新闻end */

/* 首页案例 */
.work-case {
    margin-bottom: 20px;
}

.work-case .img-top {
    height: 60px;
}

.work-case .img-top h2 {
    font-size: 24px;
    font-weight: normal;
    color: #333;
    line-height: 60px;
}

.work-case .img-top .txt {
    font-size: 12px;
    line-height: 1.5;
    color: #999;
    margin: 25px 0px 0px 10px;
}

.work-case .img-nav {
    line-height: 60px;
}

.work-case .img-nav li {
    float: left;
}

.work-case .img-nav .line-p {
    margin: 0 5px;
    color: #ccc;
}

.work-case .case-box {
    margin-top: 5px;
}

.case-banner {
    float: left;
    position: relative;
}

.case-banner, .case-banner .swiper-container, .case-banner .swiper-slide img {
    width: 478px;
    height: 362px;
}

.case-banner .swiper-slide {
    position: relative;
}

.case-banner img.fadeimg {
    transition: transform 1s linear 0;
    transform: scaleX(1.08) scaleY(1.08);
    -webkit-transition: -webkit-transform 1s linear;
    -webkit-transform: scaleX(1.08) scaleY(1.08)
}

.case-banner img.removeimg {
    transition: transform .5s linear 0;
    transform: scaleX(1) scaleY(1);
    -webkit-transition: -webkit-transform .5s linear;
    -webkit-transform: scaleX(1) scaleY(1)
}

.case-banner .back-screen {
    padding: 7px 10px 0 10px;
    width: 478px;
    height: 73px;
    background: url(https://ued.jia.com/image/jiahome/2015/opactiy.png) repeat;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
}

.case-banner .pagination {
    position: absolute;
    z-index: 20;
    bottom: 10px;
    right: 10px;
}

.case-banner .swiper-pagination-switch {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 8px;
    background: #fff;
    margin: 0 5px;
    opacity: 0.8;
    border: 1px solid #fff;
    cursor: pointer;
}

.case-banner .swiper-active-switch {
    background: #0099e9;
}

.case-banner .arrow {
    position: absolute;
    top: 0;
    width: 15%;
    height: 100%;
    z-index: 5;
}

.case-banner .arrow-left {
    left: 0;
}

.case-banner .arrow-right {
    right: 0;
}

.case-banner .arrow span {
    margin-top: -32px;
    display: block;
    top: 50%;
    position: absolute;
    width: 56px;
    height: 56px;
    opacity: 0.2;
    -webkit-transition: opacity .5s ease;
    transition: opacity .5s ease;
}

.case-banner a.arrow:hover span {
    opacity: 1;
}

.case-banner .arrow-left span {
    left: 0;
    background: url(../images/swiper2/left.png) no-repeat center center;
}

.case-banner .arrow-right span {
    right: 0;
    background: url(../images/swiper2/right.png) no-repeat center center;
}

.case-recommend {
    width: 701px;
    height: 362px;
    float: right;
}

.case-recommend .case-gloab {
    width: 100%;
    height: 35px;
    line-height: 35px;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #FFF;
    font-size: 14px;
    cursor: pointer;
}

.case-recommend .case-gloab-title {
    display: inline-block;
    margin-left: 10px;
}

.case-recommend .list-left {
    width: 227px;
    height: 176px;
    float: left;
    position: relative;
    margin-right: 10px;
    margin-bottom: 10px;
}

.case-recommend .list-left img {
    width: 227px;
    height: 176px;
}
/* 首页案例end */

/* 首页合作客户 */
.logo-show li{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 180px;
    margin: 30px 6px 20px 6px;
}
.logo-show p {
    text-align: center;
    color: #707988;
    padding-bottom: 8px;
}
.logo-box img, .haiwai img {
    width: 180px;
    height: 55px;
}
/* 首页合作客户end */

/* 首页服务保障 */
.bao-zhang .bao-zhang-list {
    display: block;
    width: 900px;
    height: 230px;
    overflow: hidden;
    position: relative;
    float: left;
}

.bao-zhang .bao-zhang-list li {
    float: left;
    width: 295px;
    height: 110px;
    display: inline;
    position: relative;
    left: 1px;
    top: 1px;
    margin: 0 5px 5px 0;
}

.bao-zhang .bao-zhang-list .mod-wrap {
    width: 295px;
    height: 110px;
    position: relative;
}

.bao-zhang .bao-zhang-list li img {
    display: block;
    width: 95px;
    height: 95px;
}

.bao-zhang .bao-zhang-list li h4 {
    color: #333;
    font-size: 18px;
    font-weight: 400;
    padding-top: 16px;
    height: 46px;
    line-height: 30px;
    width: 178px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.bao-zhang .bao-zhang-list .mod-wrap dt {
    position: absolute;
    right: 6px;
    top: 9px;
    width: 95px;
    height: 95px;
}

.bao-zhang .bao-zhang-list .mod-wrap dd {
    top: 9px;
    left: 0;
    position: absolute;
    width: 180px;
    padding-left: 13px;
}

.bao-zhang .bao-zhang-list li p {
    font-size: 14px;
    color: #fff;
    max-width: 129px;
    height: 24px;
    line-height: 24px;
    padding: 0 4px;
    overflow: hidden;
    float: left;
}

.bao-zhang .mod-1 {
    background: #e2e8f5;
}

.bao-zhang .mod-1 p {
    background: #6e8acb;
}

.bao-zhang .mod-2 {
    background: #efe9df;
}

.bao-zhang .mod-2 p {
    background: #a5884d;
}

.bao-zhang .mod-3 {
    background: #ebf5f2;
}

.bao-zhang .mod-3 p {
    background: #599b85;
}

.bao-zhang .mod-4 {
    background: #fcf1f1;
}

.bao-zhang .mod-4 p {
    background: #b88d8d;
}

.bao-zhang .mod-5 {
    background: #f0f0f0;
}

.bao-zhang .mod-5 p {
    background: #858585;
}

.bao-zhang .mod-6 {
    background: #efe3f6;
}

.bao-zhang .mod-6 p {
    background: #a286b1;
}

.bao-zhang .right-list-box {
    float: right;
    width: 290px;
    position: relative;
}

.bao-zhang .right-list-box .box-hd {
    border: 1px solid #eee;
}

.bao-zhang .right-list-box h3 {
    font-size: 18px;
    font-weight: 400;
    color: #333;
    padding-left: 10px;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #eee;
}

.bao-zhang .right-list-box .more {
    position: absolute;
    top: 14px;
    right: 15px;
}

.bao-zhang .notice-list {
    display: block;
}

.bao-zhang .notice-list li {
    padding: 0 15px 0 10px;
    overflow: hidden;
}

.bao-zhang .notice-list li span {
    display: block;
    height: 37px;
    background: url(https://ued.jia.com/image/jiahome/2015/xiangqing1.png) no-repeat -8px -182px;
    border-bottom: 1px dotted #ddd;
    padding-left: 10px;
    line-height: 37px;
}

.bao-zhang .notice-list li .last {
    border-bottom: none;
}

/* 首页服务保障end */

/* 首页底部代言 */
.home-data-show {
    position: relative;
    height: 220px;
    overflow: hidden; /* background-color:#0cb46a */
    margin-top: 20px;
}

.home-data-show .content-wrapper {
    position: relative;
    z-index: 10;
    height: 220px;
}

.home-data-show .home-bg {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 220px;
}

.home-img-box p {
    position: absolute;
    color: #fff;
}

.home-slogan-top {
    top: 45px;
    left: 117px;
    font-size: 23px;
    font-weight: 600;
}

.home-slogan-bottom {
    top: 81px;
    left: 120px;
    font-size: 17px;
}

.home-img-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.home-img {
    position: absolute;
    height: 204px;
    width: 212px;
    vertical-align: bottom;
    bottom: 0;
    left: 0;
}

.home-data-box {
    position: absolute;
    right: 0;
    top: 50px;
}

.home-data-box img {
    display: block;
    width: 618px;
    height: 73px;
}

.footer {
    margin-top: 0;
}

/* 首页底部代言end */