/* 系统中所有独立的功能单元样式 */

/* 面包屑导航 */
.breadcrumb-box{

}

.breadcrumb-box ul{
    overflow: hidden;
    float: left;
}

.breadcrumb-box ul li, .breadcrumb-box .location{
    float: left;
    margin-right: 8px;
    font-size: 12px;
    color: #333;
    line-height: 58px;
}

.breadcrumb-box ul li a,
.breadcrumb-box ul li b,
.breadcrumb-box ul li span{
    font-size: 12px;
    color: #666;
    line-height: 58px;
}

.breadcrumb-box ul li:hover>a{
    color: #ff6f20;
}
/* 面包屑导航end */

/* 列表分页 */
.pagination-box{
    margin: 20px 0 20px 50px;
}

.pagination-box ul{
    float: left;
    overflow: hidden;
    border: 1px solid #efefef;
    box-sizing: content-box;
}

.pagination-box ul li{
    float: left;
    display: block;
}

.pagination-box ul li a, .pagination-box ul li span{
    display: block;
    padding: 0 18px;
    font-size: 14px;
    color: #666;
    line-height: 36px;
}

.pagination-box .active a {
    background: #f6f6f6;
    color: #ff6f20;
}

.pagination-box ul li a:hover{
    background: #f6f6f6;
    color: #333;
}

.pagination-box .text a,
.pagination-box .text a:hover,
.pagination-box .text span {
    color: #666;
    padding: 0 12px;
}

.pagination-box .first a,
.pagination-box .first span,
.pagination-box .next a,
.pagination-box .next span {
    margin-right: 1px;
}
/* 列表分页end */

/* 弹窗验证码 */
.verifycode-form {
    display: block;
    padding: 36px;
}

.verifycode-form h3 {
    font-size: 16px;
    height: 18px;
    line-height: 18px;
    color: #333;
    font-weight: normal;
    margin-bottom: 20px;
}

.verifycode-form .items label {
    font-size: 14px;
    color: #333;
    height: 40px;
    line-height: 40px;
    width: 110px;
    text-align: right;
}

.verifycode-form .items label span {
    color: #ff6f20;
    margin-left: 2px;
}

.verifycode-form .items {
    position: relative;
}

.verifycode-form .items div {
    margin-left: 12px;
}

.verifycode-form .items input {
    height: 32px;
    width: 200px;
    line-height: 32px;
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 14px;
    padding-left: 6px;
    padding-right: 6px;
    border: 1px solid #d8d8d8;
}

#verifycode-code {
    width: 90px;
}

#get-verifycode {
    position: absolute;
    top: 10px;
    right: 22px;
}

.verifycode-btn {
    padding: 3px 5px;
    border: 1px solid #a07941;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    color: #a07941;
    background-color: transparent;
    cursor: pointer;
}

.verifycode-form .refer {
    margin-top: 20px;
}

.verifycode-form .submit-now {
    display: block;
    height: 36px;
    line-height: 36px;
    background-color: #ff6f20;
    color: white;
    font-size: 14px;
    text-align: center;
    margin: auto 16px;
}
.verifycode-form .submit-now.loading {
    background: #ff6f20 url(../images/load/loading2.gif) no-repeat 65% 50%;
}
/* 弹窗验证码end */